.basket {
	.row {
		display: grid;
		grid-template-columns: 1fr vc(450);
		gap: vc(30);

		@include devices {
			grid-template-columns: 100%;
		}
	}

	&__title {
		margin-bottom: vc(30);
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: vc(30);
	}

	&__information {
		display: flex;
		flex-direction: column;
		gap: vc(15);

		&-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: vc(15);

			p {
				font-size: vc(16);
			}

			span {
				font-weight: 600;
				font-size: vc(18);
			}
		}

		&-sum {
			display: flex;
			flex-direction: column;
		}

		&-item {
			&-box {
				display: flex;
				flex-direction: column;
				padding: vc(15);
				gap: vc(15);

				input {
					text-align: end;
				}
			}
		}

		&-box {
			display: flex;
			justify-content: space-between;
			font-size: vc(16);
		}

		&-radio {
			display: flex;
			flex-direction: column;
			padding: 0 vc(15);
			gap: vc(15);
		}

		&-info {
			display: flex;
			flex-direction: column;
			margin-top: vc(15);
			gap: vc(20);
		}

		&-dostavka {
			display: flex;
			flex-direction: column;
			gap: vc(15);
		}
	}
}
