.employee {
	.row {
		display: grid;
		grid-template-columns: vc(400) 1fr;
		gap: vc(25);

		@include devices {
			grid-template-columns: 1fr;
			gap: vc(15);
		}
	}

	&__img {
		overflow: hidden;
		border-radius: vc(5);
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: vc(20);

		h3 {
			@include devices {
				font-size: vc(16);
			}
		}

		&-item {
			display: flex;
			gap: vc(20);

			svg {
				width: vc(20);
				height: vc(20);
				fill: $tree-poppy-400;
			}
		}

		@include devices {
			gap: vc(15);
		}
	}
}
