extends @pug/base

append globals
	- pageName = 'privacy-policy'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main
				+breadcrumbs()
				section.section-text
					.container
						.row
							.text-block
								h1 О компании
								p Мы работаем на рынке складской техники 7 лет и более 4500 клиентов доверили нам поиск запчастей для бесперебойной и эффективной работы их оборудования. На фоне ухода иностранных компаний мы решили создать собственный сервис с привычным и понятным функционалом.
								p С помощью вашего аккаунта клиента, вы сможете искать детали по номерам или сведениям о машине, узнавать цены, просматривать информацию о наличии и доставке, а также размещать заказы.
								p Рынок запчастей стремительно меняется, мы трансформируемся вместе с ним и наш сервис становится лучше с каждым днём. Наши высокие стандарты обслуживания заставили нас провести крупное исследование рынка запчастей, чтобы предоставлять по настоящему качественный сервис!
								ul
									li Ничего лишнего в новом облике с привычным функционалом.
									li Поиск запчастей по артикулу, данным техники или типу запчасти.
									li Возможность сохранить данные машин для простоты запроса.
									li Более 25 000 тысяч товаров в наличии на складах РФ.
									li Доставка санкционных товаров от 30 дней.
								p Под брендом LOADERPRO на Российском рынке реализуется проверенная пользователями продукция. Наши поставщики - заводы производители запчастей и комплектующих, а также мировые торгующие организации.
								p На ближайшие несколько лет нашей основной задачей является расширение сети реселлеров, чтобы наши клиенты могли купить качественные запчасти для складской техники в любой точке страны.
			+footer()
