extends @pug/base

append globals
	- pageName = 'query'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main
				+breadcrumbs()
				section.employee
					.container
						form.page__info
							h2 Форма запроса
							.page__info-item
								.page__info-head
									p Добавить запасти для ТС
								.page__info-row.row-3
									+input({
										type: 'text',
										placeholder: 'Наименование запчасти',
										name: 'titleparts',
									})
									+input({
										type: 'text',
										placeholder: 'Каталожный номер запчасти',
										name: 'numparts',
									})
									+input({
										type: 'text',
										placeholder: 'Количество',
										name: 'count',
									})
								.page__info-row
									+textarea({
										placeholder: 'Комментарий',
										name: 'text',
										rows: '4',
									})
									.input-upload.input-upload--file(data-upload="file")
										label
											input(type="file" name="upload-file")
											span.button.button__outline Загрузить файл
								.page__info-button
									button.button.button__primary Сохранить
			+footer()
