extends @pug/base

append globals
	- pageName = 'query'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.request
				+breadcrumbs()
				section
					.container
						form.request__request
							h2 Форма запроса
							.page__info-item
								.page__info-head
									p Добавить запасти для ТС
								.page__info-row.row-3
									+input({
										type: 'text',
										placeholder: 'Наименование запчасти',
										name: 'titleparts',
									})
									+input({
										type: 'text',
										placeholder: 'Каталожный номер запчасти',
										name: 'numparts',
									})
									+input({
										type: 'text',
										placeholder: 'Количество',
										name: 'count',
									})
								.page__info-row
									+textarea({
										placeholder: 'Комментарий',
										name: 'comment',
										rows: '4',
									})
								.page__info-button
									button.button.button__primary Добавить в список
				section.request__data.is-hidden
					.container
						.row
							.request__wrapper
								.request__table
									.request__items-head
										p
										p Наименование
										p Каталожный номер
										p Количество
										p Комментарий
										p Фото запчасти
									.request__items
							button.button.button__primary.request__send Отправить запрос на идентификацию
				template#request-item
					form.request__item
						button.button.button__primary.button-delete X
						input(name="titleparts" value="OMR 34672847" readonly)
						input(name="numparts" value="2594981656988" readonly)
						input(name="count" value="2" readonly)
						p.request__item-comment Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet at doloremque exercitationem fugit iure, magni modi natus necessitatibus non perspiciatis, praesentium quia quidem rerum, sequi tenetur ullam veritatis voluptatibus.
						input(name="comment" readonly type="hidden" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet at doloremque exercitationem fugit iure, magni modi natus necessitatibus non perspiciatis, praesentium quia quidem rerum, sequi tenetur ullam veritatis voluptatibus.")
						.input-upload.input-upload--file(data-upload="file-img")
							label
								input(type="file" name="file")
								span.button.button__outline.js-toggle Загрузить файл
			+footer()
