.request {
	.row {
		display: flex;
		flex-direction: column;
		gap: vc(20);
	}

	&__wrapper {
		overflow: auto;
		width: 100%;
	}

	&__request {
		h2 {
			margin-bottom: vc(10);
		}
	}

	&__table {
		position: relative;
		overflow: hidden;
		border: 1px solid $woodsmoke-200;
		border-radius: vc(5);
		width: vc(1400);
		box-shadow: $box-shadow;
	}

	&__items {
		&-head {
			display: grid;
			align-items: center;
			justify-content: space-between;
			grid-template-columns: vc(40) vc(170) vc(170) vc(150) vc(400) vc(300);
			padding: vc(15);
			background: $woodsmoke-50;
			gap: vc(20);

			p {
				font-weight: 600;
				text-align: center;
			}
		}
	}

	&__item {
		position: relative;
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: vc(40) vc(170) vc(170) vc(150) vc(400) vc(300);
		border-top: 1px solid $woodsmoke-200;
		padding: vc(15);
		width: 100%;
		gap: vc(20);

		input {
			text-align: center;
		}

		.input-upload {
			width: 100%;

			label {
				display: flex;
				justify-content: flex-end;
			}

			.button {
				width: 100%;
			}

			&__preview {
				margin-top: 0;
			}
		}

		&:first-child {
			border: none;
		}
	}

	&__send {
		align-self: flex-end;
	}
}
