extends @pug/base

append globals
	- pageName = 'message-error'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.page
				section.page-message
					.container
						h1.mb-20 Ваша корзина пуста
						p Нажмите на кнопку, чтобы продолжить покупки
						a.button.button__outline.mt-40 В каталог
			+footer-two()
