extends @pug/base

append globals
	- pageName = 'register'

append vars

block content
	+router(pageName)
		.site
			//include @components/header/header
			main.register
				section
					.register__head
						.container
							.register__head-row
								.register__logo
									+svg("logo")
								h2 LOADER PROTECTION
								h3 Станьте нашим клиентом
								p Мы работаем на рынке складской техники 7 лет и более  4000 клиентов доверили нам поиск запчастей для бесперебойной и эффективной работы их оборудования. На фоне ухода иностранных компаний мы решили создать собственный сервис с привычным и понятным функционалом.
								p С помощью вашего аккаунта клиента, вы сможете искать детали по номерам или сведениям о машине, узнавать цены, просматривать информацию о наличии и доставке, а также размещать заказы. Для запроса вашего аккаунта, выполняйте следующие шаги.
								p Чтобы запросить аккаунт клиента для вашего бизнеса, заполните форму ниже.
								p Наша команда свяжется с вами в течение 3 рабочих дней для обсуждения потребностей вашего бизнеса и завершения регистрации.
								p После настройки учетной записи, вы получите личный логин для входа в систему.
					.register__form
						include @components/registration/registration
			+footer-two()
