.button {
	display: inline-flex;
	justify-content: center;
	border-radius: vc(5);
	padding: vc(15) vc(20);
	font-weight: 600;
	text-align: center;
	transition-property: background-color, border, color;
	transition-duration: $transition-duration;
	transition-timing-function: $transition-timing-function;

	&__primary {
		border: 1px solid $tree-poppy-400;
		color: $color-white;
		background-color: $tree-poppy-400;

		&:hover {
			color: $tree-poppy-400;
			background-color: $color-white;
		}
	}

	&__outline {
		border: 1px solid $tree-poppy-400;
		color: $tree-poppy-400;

		&:hover {
			color: $color-white;
			background-color: $tree-poppy-400;
		}
	}
}
