extends @pug/base

append globals
	- pageName = 'authorization'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.basket
				+breadcrumbs()
				section
					.container
						.basket__title.page__info-head
							p Содержимое заказа 1234536453
						.row
							.basket__items
								form.basket__product
									input(type="hidden" name="id" value="165149856")
									button.basket__product-del X
									.basket__product-img
										+picture({
											path: `${baseDir}assets/images/image`,
											ext: 'png',
										})
									.basket__product-info
										.basket__product-left
											a.basket__product-title(href="#") lorem
											.basket__product-article 123549
											.basket__product-status.green
												p В наличии
											.basket__product-characteristic
												p Единица измерения
												span ШТ
											.basket__product-characteristic
												p Вес (кг)
												span 1,3
										.basket__product-right
											.basket__product-price
												p Цена: #[span 15000 ₽]
											.basket__product-count
												+input({
													type: 'text',
													placeholder: 'Количество',
													name: 'count',
													value: 2,
												})
											.basket__product-total
												p Сумма: #[span 15000 ₽]
								form.basket__product
									input(type="hidden" name="id" value="165149856")
									button.basket__product-del X
									.basket__product-img
										+picture({
											path: `${baseDir}assets/images/image`,
											ext: 'png',
										})
									.basket__product-info
										.basket__product-left
											a.basket__product-title(href="#") lorem
											.basket__product-article 123549
											.basket__product-status.green
												p В наличии
											.basket__product-characteristic
												p Единица измерения
												span ШТ
											.basket__product-characteristic
												p Вес (кг)
												span 1,3
										.basket__product-right
											.basket__product-price
												p Цена: #[span 15000 ₽]
											.basket__product-count
												+input({
													type: 'text',
													placeholder: 'Количество',
													name: 'count',
													value: 2,
												})
											.basket__product-total
												p Сумма: #[span 15000 ₽]
							form.basket__information
								.basket__information-sum
									.page__info-head
										p Итого
									.basket__information-title
										p Всего: #[br] #[small Без стоимости транспортировки]
										span 30 000 ₽
								.basket__information-dostavka
									.page__info-head
										p Доставка
									.basket__information-radio
										label.form__radio
											input(type="radio" name="delivery" value="default" checked)
											span По умолчанию
										label.form__radio
											input(type="radio" name="delivery" value="client")
											span До клиента
									.basket__information-info.is-hidden
										+input({
											type: 'text',
											placeholder: 'Наименование компании',
											name: 'сompany',
											value: 'Спецмашина'
										})
										+input({
											type: 'text',
											placeholder: 'ИНН',
											name: 'inn',
											value: '65158956056'
										})
										+input({
											type: 'text',
											placeholder: 'Имя',
											name: 'name',
											value: 'Петр'
										})
										+input({
											type: 'text',
											placeholder: 'Фамилия',
											name: 'surname',
											value: 'Петров'
										})
										+input({
											type: 'phone',
											placeholder: 'Телефон',
											name: 'phone',
											value: '+79524562589'
										})
										+select({
											placeholder: 'Перевозчик',
											name: 'carrier',
											items: [
												{value: '0', label: 'Деловые линии', selected: true},
												{value: '1', label: 'ПЭК'},
												{value: '2', label: 'Заур'},
												{value: '3', label: 'Космоперевозки от Виталя'},
												{value: '4', label: 'Черепахи транспорт'},
											],
										})
										+select({
											placeholder: 'Метод доставки',
											name: 'method',
											items: [
												{value: '0', label: 'До двери', selected: true},
												{value: '1', label: 'До подъезда'},
												{value: '2', label: 'До дома'},
												{value: '3', label: 'До космолифта'},
												{value: '4', label: 'До марса'},
											],
										})
										+input({
											type: 'text',
											placeholder: 'Город',
											name: 'city',
											value: 'Сыктывкар'
										})
										+input({
											type: 'text',
											placeholder: 'Адрес',
											name: 'address',
											value: 'ул. Маршала Зайка, д. 312, кв. 789'
										})
										+select({
											placeholder: 'Приоритет отгрузки',
											name: 'priority',
											items: [
												{value: '0', label: 'Укомплектовать полностью', selected: true},
												{value: '1', label: 'Укомплектовать не полностью'},
												{value: '2', label: 'По частям'},
												{value: '3', label: 'Ноги отдельно, руки отдельно'},
												{value: '4', label: 'Череп и мозги'},
											],
										})
									.request-card__contact
										p.h4 Информация о контакте
										.request-card__contact-item
											p Компания
											p #[b ООО "Добрый зайка"]
										.request-card__contact-item
											p Раб. телефон
											p #[b +7-977-777-66-66]
										.request-card__contact-item
											p E-mail раб
											p #[b морковка@зайкидобра.рф]
										.request-card__contact-item
											p Должность
											p #[b Старший Заяц]
									button.button.button__primary(type="submit") Разместить заказ
			+footer-two()
