.form {
	&__input {
		border: 1px solid $color-gray68;
		border-radius: vc(5);
		padding: vc(15) vc(20);
		width: 100%;
		font-weight: 500;
		font-size: vc(16);
		color: $color-eclipse;
	}

	&__row {
		display: flex;
		align-items: center;
		gap: vc(40);
	}
}
