extends @pug/base

append globals
	- pageName = 'privacy-policy'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main
				+breadcrumbs()
				section.section-text
					.container
						.row
							.text-block
								h2 Оплата товара
								p Правила оплаты и безопасность платежей, конфиденциальность информации
								h3 Безналичная оплата
								p Оплата по безналичному расчёту осуществляется с НДС 20%
								h3 Оплата банковской картой
								p Оплата банковскими картами осуществляется через АО «Тинькофф Банк».
								p К оплате принимаются карты VISA, MasterCard, МИР.
								p Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard и Платежной системы МИР на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице АО «Тинькофф Банк».
								p На странице для ввода данных банковской карты потребуется ввести данные банковской карты: номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard, Код Дополнительной Идентификации для МИР). Все необходимые данные пропечатаны на самой карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты.
								p Далее вы будете перенаправлены на страницу Вашего банка для ввода кода безопасности, который придет к Вам в СМС. Если код безопасности к Вам не пришел, то следует обратиться в банк выдавший Вам карту.
								p Случаи отказа в совершении платежа:
								ul
									li банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;
									li недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
									li данные банковской карты введены неверно;
									li истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
								p По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующим телефонам: 8 (800) 55-11-996
								p Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.
								h2 Доставка товара
								h3 Доставка до фирменного пункта выдачи
								p Доставка в фирменный пункт выдачи в г. Санкт-Петербург осуществляется бесплатно.
								p Фирменный пункт выдачи находится по адресу: г. Санкт-Петербург, Кубинская ул., дом 75 кор. 2 офис 109
								p Самовывоз товара из пункта выдачи осуществляется по рабочим дням с 09:00 до 16:30.
								h3 Доставка по Санкт-Петербургу и Ленинградской области
								p Доставка по Санкт-Петербургу осуществляется бесплатно фирменным автотранспортом LOADERPRO или курьерской службой Яндекс.Доставка.
								p Доставка по Ленинградской области осуществляется транспортными компаниями СДЭК и Деловые Линии по их тарифам.
								h3 Доставка по Российской Федерации
								p Доставка по России осуществляется транспортными компаниями Деловые Линии и СДЭК по их тарифам.
								p Доставка до терминала транспортной компании в Санкт-Петербурге осуществляется бесплатно.
								h3 Международная экспресс-доставка
								p На товары OEM и аналоги возможно оформить авиадоставку. Срок поставки товара после комплектации на складе консолидации и готовности к отгрузке до фирменного пункта выдачи - 3-5 дней.
								p Оригинальные запчасти из Европы не подлежат авиадоставке и доставляются автотранспортом.
			+footer()
