extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.authorization
				section.authorization__auth
					.container
						.row
							include @components/authentication/authentication
			include @components/footer/footer
