extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.authorization
				section.authorization__auth
					.container
						.row
							.authorization__login
								p.h1 Уже являетесь пользователем?
								p.h2 Выполнить вход:
								include @components/authentication/authentication
							.authorization__registration
								p.h1 Новый пользователь?
								p.h2 Зарегистрируйтесь здесь
			include @components/footer/footer
