extends @pug/base

append globals
	- pageName = 'query'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.query
				+breadcrumbs()
				section
					.container
						+navTab([
							{
								link: 'Новый запрос',
								active: true,
							},
							{
								link: 'История запросов'
							},
						])
				section
					.container
						.query__box(data-query)
							.query__box-title Запрос цены
							.query__box-form
								form.form
									.form__main
										.form__group.form__group--3
											select(name="brand" data-nise-select)
												option(value="one") one
												option(value="two") two
											+input({
												type: 'text',
												placeholder: 'Номер запчасти*',
												name: 'numparts',
											})(data-required="true")
											+input({
												type: 'number',
												placeholder: 'Количество*',
												name: 'count',
												value: '1'
											})(data-required="true")
									.form__buttons
										button.button.button__primary(type="submit") Добавить в запрос
										button.button.button__outline(data-open-modal="import-file") Импортировать из файла
				section
					.container
						.query__box(data-querys)
							.query__box-title Ваш запрос
							.query__box-form
								.form
									.form__main
										form.form__group
											+input({
												type: 'text',
												placeholder: 'Бренд',
												name: 'brand',
												list: 'brands',
												disabled: true,
											})(data-required="true")
											+input({
												type: 'text',
												placeholder: 'Номер запчасти',
												name: 'numparts',
												value: '1235456',
												disabled: true,
											})(data-disabled="true")
											+input({
												type: 'number',
												placeholder: 'Количество',
												name: 'count',
												value: '4',
												disabled: true,
											})(data-disabled="true")
											button.button.button__primary(type="button" name="delete") X
										form.form__group
											+input({
												type: 'text',
												placeholder: 'Бренд',
												name: 'brand',
												disabled: true,
											})(data-required="true")
											+input({
												type: 'text',
												placeholder: 'Номер запчасти*',
												name: 'numparts',
												value: '236548',
												disabled: true,
											})(data-disabled="true")
											+input({
												type: 'number',
												placeholder: 'Количество*',
												name: 'count',
												value: '2',
												disabled: true,
											})(data-disabled="true")
											button.button.button__primary(type="button" name="delete") X
									.form__footer
										button.button.button__outline(type="clean") Очистить
										button.button.button__primary(type="submit") Отправить запрос
							template
								form.form__group
									+input({
										type: 'text',
										placeholder: 'Бренд',
										name: 'brand',
										disabled: true,
									})
									+input({
										type: 'text',
										placeholder: 'Номер запчасти*',
										name: 'numparts',
										disabled: true,
									})(data-disabled)
									+input({
										type: 'number',
										placeholder: 'Количество*',
										name: 'count',
										disabled: true,
									})(data-disabled)
									button.button.button__primary(type="button" name="delete") X
				section.modal.modal--preload(data-modal="import-file")
					.modal__wrapper
						.modal__overlay
						.modal__content
							button.modal__close-btn(type="button" aria-label="Закрыть попап" data-close-modal data-focus)
								+svg("xmark")
							section.query-import
								.productEditing__title
									p.h3 Импортировать из файла
								p.query-import__lead Укажите пожалуйста, какие столбцы таблицы Excel будут использованы:
								form.form(enctype="multipart/form-data" data-form-import)
									.form__main
										.form__row
											+input({
												type: 'text',
												placeholder: 'Бренд',
												name: 'brand',
												list: 'brands',
											})
											+input({
												type: 'text',
												placeholder: 'Номер запчасти',
												name: 'numparts',
											})
											+input({
												type: 'num',
												placeholder: 'Количество',
												name: 'count',
											})
											+input({
												type: 'num',
												placeholder: 'Начать импорт со строки',
												name: 'startimport',
											})
									.form__file
										.input-upload.input-upload--file(data-upload="file")
											label
												input(type="file" name="upload-file")
												span.button.button__outline Загрузить файл
											.input-upload__preview
									.form__buttons
										button.button.button__primary(type="submit") Сохранить
										a.button.button__primary(data-close-modal) Отмена
			+footer()
