.query {
	&__box {
		flex-direction: column;
		border-radius: vc(10);
		width: 100%;
		box-shadow: $box-shadow;
		background: $color-white;

		&-title {
			border-bottom: 1px solid $woodsmoke-100;
			padding: vc(25) vc(30);
			font-weight: 600;
			font-size: vc(24);
		}

		&-form {
			padding: vc(25) vc(30);

			.form {
				&__group {
					display: grid;
					grid-template-columns: 0.8fr 1.4fr 0.8fr 0.1fr;
					gap: vc(35);

					&--3 {
						grid-template-columns: 0.8fr 1.4fr 0.8fr;

						@include devices {
							grid-template-columns: 1fr;
						}
					}

					@include devices {
						grid-template-columns: 1fr;
					}
				}

				&__row {
					@include devices {
						flex-direction: column;
					}
				}

				&__footer {
					@include devices {
						flex-direction: column;
					}
				}
			}
		}

		&-items {

		}
	}
}

.query-import {
	&__lead {
		padding: vc(30) 0;
		font-weight: 500;
		font-size: vc(18);
	}

	.form {
		&__row {
			flex-direction: column;
		}

		&__file {
			margin-bottom: vc(30);
			border-top: 1px solid $woodsmoke-100;
			border-bottom: 1px solid $woodsmoke-100;
			padding: vc(30) 0;
		}
	}
}
