extends @pug/base

append globals
	- pageName = 'query'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main
				+breadcrumbs()
				section.news-page
					.container
						+picture({
							path: `${baseDir}assets/images/news-1`,
							ext: 'jpeg',
						})
						h1 Добро пожаловать на дилерскую платформу LOADERPRO!
						p Наша система объединила в себе склады проверенных и надежных поставщиков России, Азии и Европы.
						p Мы работаем на рынке складской техники 7 лет и более 4000 клиентов доверили нам поиск запчастей для бесперебойной и эффективной работы их оборудования. На фоне ухода иностранных компаний мы решили создать собственный сервис с привычным и понятным функционалом.
						p С помощью вашего аккаунта клиента, вы сможете искать детали по номерам или сведениям о машине, создать собственный гараж, а также узнавать цены, просматривать информацию о наличии и доставке и размещать заказы.
						p Для того чтобы запросить запчасть по номеру детали достаточно добавить необходимые номера в список и отправить запрос, система присвоит номер вашему запросу и после того как он будет обработан вы получите уведомление из которого можно будет перейти в запрос и увидеть ценовое предложение…
						p Чтобы отправить запрос на подбор запчастей по каталогу необходимо заполнить информацию о технике, после чего добавить необходимые наименования в список товаров. Вашему запросу также будет присвоен номер и после подбора каталожных номеров вы получите уведомление из которого можно будет перейти в запрос и увидеть ценовое предложение.
						p Для простоты запросов по данным техники мы реализовали возможность создания собственного гаража, где сохранив данные своих машин вам будет легче отправлять запросы на подбор запчастей по каталогам.
						p Под торговой маркой LOADERPRO реализуется только проверенная пользователями продукция, мы верифицируем каждого производителя и поставщика! Присоединяйтесь к нашей дилерской системе и зарабатывайте легче - вместе с нами!
						p Для получения подробной информации о пользовании сервисом вы можете связаться со своим коммерческим представителем.

			+footer()
