extends @pug/base

append globals
	- pageName = 'query'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.funnel
				+breadcrumbs()
				section
					.container
						+navTab([
							{
								link: 'Новый запрос',
							},
							{
								link: 'Воронка запросов',
								active: true,
							},
						])
				section
					.container
						.query__box
							.query__box-title Поиск запроса
							.query__box-form
								form.form
									.form__main
										.form__row
											+input({
												type: 'text',
												placeholder: 'Номер запроса',
												name: 'requestnumber',
											})
											+input({
												type: 'text',
												placeholder: 'Кем создан',
												name: 'createdby',
											})
											+input({
												type: 'text',
												placeholder: 'Дата',
												name: 'date',
											}).datepicker-multiple
											button.button.button__primary(type="submit") Поиск
				section.mt-40
					.container
						.funnel__wrapper
							.funnel__row
								-
									const funnel = [
										{title: 'Котел', color: 'grey'},
										{title: 'Подбор', color: 'blue-1'},
										{title: 'В запросе', color: 'blue-2'},
										{title: 'Обработан', color: 'blue-3'},
										{title: 'Счет отправлен', color: 'green'},
									];
								each item in funnel
									.funnel__col
										.funnel__head
											p.h3!= item.title
											.funnel__head-line(class=`funnel__head-line--${item.color}`)
										.funnel__list
											+cardFunnel('запроса')
											+cardFunnel('запроса')
											+cardFunnel('запроса')
											+cardFunnel('запроса')
											+cardFunnel('запроса')
			+footer()
