.pagenav
	a.pagenav__item(href="#")
		+svg("chevron-left")
	a.pagenav__item.is-active(href="#") 1
	a.pagenav__item(href="#") 2
	a.pagenav__item(href="#") 3
	.pagenav__item.is-disabled ....
	a.pagenav__item(href="#") 10
	a.pagenav__item(href="#")
		+svg("chevron-right")
