.pagenav {
	display: flex;
	justify-content: center;
	margin: vc(30) auto 0;
	gap: vc(10);

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		width: vc(35);
		height: vc(35);
		font-weight: 700;
		font-size: vc(18);
		background-color: $color-white;
		transition: background-color $transition, color $transition;

		svg {
			width: vc(20);
			height: vc(20);
			fill: $color-black;
			transition: fill $transition;
		}

		&.is-active,
		&:hover {
			color: $color-white;
			background-color: $tree-poppy-400;

			svg {
				fill: $color-white;
			}
		}

		&.is-disabled {
			color: $color-black;
			background-color: $color-white;
		}
	}
}
