$color-black: #000;
$color-white: #fff;
$color-transparent: rgba($color-white, 0);

$tree-poppy-50: #fff8eb;
$tree-poppy-100: #fdebc8;
$tree-poppy-200: #fcd48b;
$tree-poppy-300: #fab84f;
$tree-poppy-400: #f8991d;
$tree-poppy-500: #f27a0e;
$tree-poppy-600: #d65709;
$tree-poppy-700: #b2390b;
$tree-poppy-800: #902c10;
$tree-poppy-900: #772510;
$tree-poppy-950: #441004;

$red-orange-500: #f44336;

$atlantis-50: #f3faeb;
$atlantis-100: #e5f4d3;
$atlantis-200: #cceaac;
$atlantis-300: #acda7c;
$atlantis-400: #8cc851;
$atlantis-500: #6fae34;
$atlantis-600: #548a26;
$atlantis-700: #416a21;
$atlantis-800: #36551f;
$atlantis-900: #30481f;
$atlantis-950: #17270c;

$woodsmoke-50: #f6f6f6;
$woodsmoke-100: #e7e7e7;
$woodsmoke-200: #d1d1d1;
$woodsmoke-300: #b0b0b0;
$woodsmoke-400: #888;
$woodsmoke-500: #6d6d6d;
$woodsmoke-600: #5d5d5d;
$woodsmoke-700: #4f4f4f;
$woodsmoke-800: #454545;
$woodsmoke-900: #3d3d3d;
$woodsmoke-950: #181818;

$status-colors: (
	"1": $woodsmoke-200,
	"2": #d6eaff,
	"3": #c1e0ff,
	"4": #98cbff,
	"5": #cf6,
);

// FONTS
$font-montserrat: 'Montserrat', Arial, sans-serif;

// TRANSITIONS
$transition-duration: 0.35s;
$transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
$transition: $transition-duration $transition-timing-function;

// SETTINGS
$desktop-xxl: 2560;
$desktop-xl: 1920;
$desktop-lg: 1680;
$desktop-md: 1440;
$desktop-sm: 1366;
$desktop-xs: 1280;
$desktop: 1024;
$tablet: 1024;

$box-shadow: 0 4px 22px 0 rgba($color-black, 0.05);
