.catalog {
	.row {
		display: grid;
		grid-template-columns: vc(300) 1fr;
		margin-top: vc(40);
		gap: vc(15);
	}

	&__filter {
		&-header {
			display: flex;
			align-items: center;
			border-top: 1px solid $woodsmoke-200;
			border-bottom: 1px solid $woodsmoke-200;
			padding: vc(20);
			gap: vc(30);

			svg {
				width: vc(20);
				height: vc(20);
				fill: $tree-poppy-400;
			}
		}
	}
}
