.catalog {
	.row {
		display: grid;
		grid-template-columns: vc(300) 1fr;
		margin-top: vc(40);
		gap: vc(15);

		@include devices {
			grid-template-columns: 1fr;
		}
	}

	&__filter {
		fieldset {
			display: flex;
			flex-direction: column;
			gap: vc(20);
		}

		legend {
			display: flex;
			align-items: center;
			margin-bottom: vc(20);
			border-top: 1px solid $woodsmoke-200;
			border-bottom: 1px solid $woodsmoke-200;
			padding: vc(14) vc(10);
			width: 100%;
			gap: vc(30);

			svg {
				width: vc(20);
				height: vc(20);
				fill: $tree-poppy-400;
			}
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		gap: vc(20);
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: vc(20);

		@include devices {
			grid-template-columns: 1fr;
		}
	}
}
