extends @pug/base

append globals
	- pageName = 'catalog'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			-
				const catalog = require('data.js').default;
				console.log(catalog);
			main.catalog
				+breadcrumbs()
				section
					.container
						.row
							each item in catalog
								.catalog__item
									+svg(`${item.icon}`)
									p!= item.title
									.catalog__item-wrapper
										.catalog__item-content
											each link in item.links
												a(href="#")!= link
			+footer()
