extends @pug/base

append globals
	- pageName = 'catalog'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.catalog
				+breadcrumbs()
				section
					.container
						h1 Название категории
						.row
							form.catalog__filter
								fieldset
									legend
										+svg('sliders')
										p.h4 Фильтры
									+select({
										placeholder: 'Бренд',
										name: 'brand',
										items: [
											{
												value: '0',
												label: 'Бренд 1'
											},
											{
												value: '1',
												label: 'Бренд 2'
											},
											{
												value: '2',
												selected: true,
												label: 'Бренд 3'
											},
										],
									})
									+select({
										placeholder: 'Качество',
										name: 'quality',
										items: [
											{
												value: '0',
												selected: true,
												label: 'Качество 1'
											},
											{
												value: '1',
												label: 'Качество 2'
											},
											{
												value: '2',
												label: 'Качество 3'
											},
										],
									})
									+input({
										type: 'text',
										placeholder: 'Бренд',
										name: 'brand',
										list: 'brands',
									})
							.catalog__items
								.catalog__adm-buttons
									button.button.button__primary(data-open-modal="add-product") Добавить товар
									button.button.button__outline(data-open-modal="import-file") Импортировать из файла
								form.form(data-catalog-search)
									.form__row
										+input({
											type: 'text',
											placeholder: 'Поиск',
											name: 'search',
											icon: 'magnifying-glass',
											button: true,
										})
								.catalog__row
									+merchandise({
										status: 1,
									})
									+merchandise({
										status: 2,
									})
									+merchandise({
										status: 3,
									})
									+merchandise({
										status: 1,
									})
									+merchandise({
										status: 2,
									})
									+merchandise({
										status: 3,
									})
									+merchandise({
										status: 1,
									})
									+merchandise({
										status: 2,
									})
									+merchandise({
										status: 3,
									})
								form.form.mt-50.w-100(data-more)
									input(type="hidden" name="query_more" value="30")
									button.button.button__primary(type="submit") Загрузить ещё

			+footer()
			section.modal.modal--preload(data-modal="import-file")
				.modal__wrapper
					.modal__overlay
					.modal__content
						button.modal__close-btn(type="button" aria-label="Закрыть попап" data-close-modal data-focus)
							+svg("xmark")
						section.query-import
							.productEditing__title
								p.h3 Импортировать из файла
							p.query-import__lead Укажите пожалуйста, какие столбцы таблицы Excel будут использованы:
							form.form(enctype="multipart/form-data" data-form-import)
								.form__main
									.form__row
										+input({
											type: 'text',
											placeholder: 'Бренд',
											name: 'brand',
											list: 'brands',
										})
										+input({
											type: 'text',
											placeholder: 'Номер запчасти',
											name: 'numparts',
										})
										+input({
											type: 'num',
											placeholder: 'Количество',
											name: 'count',
										})
										+input({
											type: 'num',
											placeholder: 'Начать импорт со строки',
											name: 'startimport',
										})
								.form__file
									.input-upload.input-upload--file(data-upload="file")
										label
											input(type="file" name="upload-file")
											span.button.button__outline Загрузить файл
								.form__buttons
									button.button.button__primary(type="submit") Сохранить
									a.button.button__primary(data-close-modal) Отмена
			section.modal.modal--preload(data-modal="add-product")
				.modal__wrapper
					.modal__overlay
					.modal__content
						button.modal__close-btn(type="button" aria-label="Закрыть попап" data-close-modal data-focus)
							+svg("xmark")
						section.productEditing
							.productEditing__title
								p.h3 Редактирование товара
							form.form.productEditing__form(enctype="multipart/form-data")
								.form__main
									.form__row
										+input({
											type: 'text',
											placeholder: 'Название товара',
											name: 'productname',
											value: 'Lorem ipsum dolor sit amet'
										}).two-column
										+input({
											type: 'text',
											placeholder: 'Бренд',
											name: 'brand',
											list: 'brands',
										})
										+input({
											type: 'text',
											placeholder: 'Артикул',
											name: 'article',
										})
										+input({
											type: 'num',
											placeholder: 'Цена',
											name: 'price',
										})
										+input({
											type: 'num',
											placeholder: 'Количество',
											name: 'count',
										})
										+select({
											placeholder: 'Качество',
											name: 'quality',
											items: [
												{value: 'quality-0', selected: true, label: 'Оригинал'},
												{value: 'quality-1', label: 'OEM'},
												{value: 'quality-2', label: 'Аналог'},
											],
										})
										+select({
											placeholder: 'Срок поставки',
											name: 'deliverytime',
											items: [
												{value: 'deliverytime-0', selected: true, label: 'В наличии'},
												{value: 'deliverytime-1', label: '1-2 дня'},
												{value: 'deliverytime-2', label: '2 - 3 дня'},
												{value: 'deliverytime-3', label: '3 - 5 дней'},
												{value: 'deliverytime-4', label: '5 - 7 дней'},
												{value: 'deliverytime-5', label: '7 - 10 дней'},
												{value: 'deliverytime-6', label: '1 - 2 недели'},
												{value: 'deliverytime-7', label: '2 - 3 недели'},
												{value: 'deliverytime-8', label: '3 - 4 недели'},
												{value: 'deliverytime-9', label: '4 - 5 недель'},
												{value: 'deliverytime-10', label: '6 - 8 недель'},
												{value: 'deliverytime-11', label: '8 - 10 недель'},
												{value: 'deliverytime-12', label: '10 - 12 недель'},
												{value: 'deliverytime-13', label: '3 - 4 месяца'},
												{value: 'deliverytime-14', label: '4 - 5 месяцев'},
												{value: 'deliverytime-15', label: '5 - 6 месяцев'},
												{value: 'deliverytime-16', label: 'Срок уточняется'},
												{value: 'deliverytime-17', label: 'Нет предложений'},
												{value: 'deliverytime-18', label: 'Некорректный номер'},
											],
										})
										//input#autocomplete
										+select({
											placeholder: 'Единица измерения',
											name: 'measurement',
											items: [
												{value: 'measurement-0', selected: true, label: 'шт.'},
												{value: 'measurement-1', label: 'м.'},
												{value: 'measurement-2', label: 'л.'},
												{value: 'measurement-3', label: 'компл.'},
											],
										})
										+input({
											type: 'text',
											placeholder: 'Вес',
											name: 'weight',
										})
										+textarea({
											placeholder: 'Комментарий',
											name: 'comment',
											rows: '4',
										}).two-column
								.form__img
									.input-upload.input-upload--images-drop(data-upload="img-drop")
										.input-upload__drop-zone(data-drop-zone)
											span.input-upload__drop-zone-text Фото товара
										label(data-drop-zone)
											input(type="file" name="images[]")
								.form__buttons
									button.button.button__primary(type="submit") Сохранить
