extends @pug/base

append globals
	- pageName = 'catalog'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.catalog
				+breadcrumbs()
				section
					.container
						h1 Название категории
						.row
							.catalog__filter
								.catalog__filter-header
									+svg('sliders')
									p.h4 Фильтры
							.catalog__row
								+merchandise({
									status: 1,
								})
								+merchandise({
									status: 2,
								})
								+merchandise({
									status: 3,
								})
								+merchandise({
									status: 1,
								})
								+merchandise({
									status: 2,
								})
								+merchandise({
									status: 3,
								})
								+merchandise({
									status: 1,
								})
								+merchandise({
									status: 2,
								})
								+merchandise({
									status: 3,
								})
			+footer()
