.mobilebar
	a.mobilebar__item(href="#")
		+svg("home-line")
		span Домой
	a.mobilebar__item(href="#")
		+svg("checkbox-list-line")
		span Каталог
	a.mobilebar__search(href="#")
		+svg("shield")
	a.mobilebar__item(href="#")
		+svg("question")
		span Запросы
	a.mobilebar__item(href="#")
		+svg("parking-garage")
		span Гараж
