.home {
	&__row {
		display: grid;
		grid-template-columns: 0.7fr 1.3fr;
		gap: vc(20);
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: vc(20);
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
		border-radius: vc(5);
		padding: vc(20) vc(30) vc(20) vc(130);
		box-shadow: $box-shadow;
		gap: vc(30);

		&-info {
			display: flex;
			flex-direction: column;
			gap: vc(8);
		}

		&-title {
			font-weight: 800;
			font-size: vc(24);
		}

		&-descritpion {
			font-size: vc(20);
		}

		&-icon {
			width: vc(26);
			height: vc(26);

			svg {
				fill: $color-black;
			}

			&-bg {
				position: absolute;
				left: vc(-20);
				top: vc(13);
				border-radius: 100%;
				width: vc(125);
				height: vc(125);
				background-color: $color-carrot-orange;

				svg {
					position: absolute;
					right: vc(30);
					top: vc(18);
					width: vc(55);
					height: vc(55);
					fill: $color-white;
				}
			}
		}
	}

	&__warehouse {
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
		border-radius: vc(10);
		padding: vc(50);
		box-shadow: $box-shadow;

		&-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;

			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: $color-black;
				opacity: 0.3;
				inset: 0;
			}

			picture,
			img {
				height: 100%;
			}
		}

		&-content {
			position: relative;
			z-index: 2;
			display: flex;
			flex-direction: column;
			max-width: vc(300);
			color: $color-white;
			gap: vc(10);
		}

		&-title {
			font-weight: 700;
			font-size: vc(40);
		}

		&-descritpion {
			margin-bottom: vc(10);
			font-size: vc(20);
		}

		&-icon {
			position: relative;
			z-index: 2;
			margin: 0 vc(80) 0 auto;
			width: vc(228);
			height: vc(228);
		}
	}

	&__brands {
		padding: vc(30) 0;

		.swiper-slide {
			padding: vc(20) 0;
		}

		&-item {
			margin-right: vc(15);
			border-radius: vc(10);
			padding: vc(15);
			box-shadow: $box-shadow;
			background-color: $color-white;
		}
	}

	&__news {
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
		border-radius: vc(10);
		padding: vc(50);
		min-height: vc(385);
		box-shadow: $box-shadow;

		&-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;

			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: $color-black;
				opacity: 0.7;
				inset: 0;
			}

			picture,
			img {
				height: 100%;
			}
		}

		&-title {
			font-weight: 700;
			font-size: vc(40);
			color: $color-white;
		}

		&-content {
			position: relative;
			z-index: 2;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			gap: vc(35);
		}
	}

	&__video {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-radius: vc(10);
		padding: vc(50);
		box-shadow: $box-shadow;

		&-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;

			picture,
			img {
				height: 100%;
			}
		}

		&-play {
			position: absolute;
			z-index: 3;
			display: flex;
			align-items: center;
			justify-content: center;
			outline: vc(30) solid rgba($color-carrot-orange, 0.2);
			border-radius: 100%;
			width: vc(90);
			height: vc(90);
			background-color: rgba($color-carrot-orange, 0.7);

			svg {
				position: absolute;
				width: vc(30);
				height: vc(30);
				fill: $color-white;
			}
		}
	}
}
