.home {
	&__row {
		display: grid;
		grid-template-columns: 0.7fr 1.3fr;
		gap: vc(20);

		@include devices {
			grid-template-columns: 1fr;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: vc(20);

		@include devices {
			order: 1;
		}
	}

	&__link {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		overflow: hidden;
		border-radius: vc(5);
		padding: vc(20) vc(30) vc(20) vc(110);
		box-shadow: $box-shadow;
		gap: vc(10);

		&-info {
			display: flex;
			flex-direction: column;
			gap: vc(8);
		}

		&-title {
			font-weight: 800;
			font-size: vc(24);

			@include devices {
				font-size: vc(20);
			}
		}

		&-descritpion {
			font-size: vc(20);

			@include devices {
				font-size: vc(14);
			}
		}

		&-icon {
			width: vc(26);
			height: vc(26);

			svg {
				fill: $color-black;
			}

			&-bg {
				position: absolute;
				left: vc(-25);
				bottom: vc(-20);
				border-radius: 100%;
				width: vc(125);
				height: vc(125);
				background-color: $tree-poppy-400;

				svg {
					position: absolute;
					right: vc(30);
					top: vc(18);
					width: vc(55);
					height: vc(55);
					fill: $color-white;

					@include devices {
						right: vc(20);
						top: vc(20);
						width: vc(45);
						height: vc(45);
					}
				}

				@include devices {
					left: vc(-25);
					bottom: vc(-20);
					width: vc(100);
					height: vc(100);
				}
			}
		}

		@include devices {
			padding: vc(20) vc(20) vc(20) vc(80);
		}
	}

	&__warehouse {
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
		border-radius: vc(10);
		padding: vc(50);
		box-shadow: $box-shadow;

		&-bg {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			inset: 0;

			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: $color-black;
				opacity: 0.7;
				inset: 0;
			}

			picture,
			img {
				height: 100%;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			max-width: vc(300);
			color: $color-white;
			gap: vc(10);

			@include devices {
				text-align: center;
			}
		}

		&-title {
			font-weight: 700;
			font-size: vc(40);

			@include devices {
				font-size: vc(24);
			}
		}

		&-descritpion {
			margin-bottom: vc(10);
			font-size: vc(20);
		}

		&-icon {
			position: absolute;
			right: vc(130);
			top: vc(56);
			z-index: 2;
			width: vc(228);
			height: vc(228);

			@include devices {
				position: relative;
				margin: auto;
				width: vc(80);
				height: vc(80);
				inset: 0;
			}
		}

		@include devices {
			order: 0;
			padding: vc(30);
		}
	}

	&__brands {
		padding: vc(30) 0;

		.swiper-slide {
			padding: vc(20) 0;
			height: auto;
		}

		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: vc(15);
			border-radius: vc(10);
			padding: vc(15);
			height: 100%;
			max-height: vc(86);
			box-shadow: $box-shadow;
			background-color: $color-white;

			picture,
			img {
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&__news {
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
		border-radius: vc(10);
		padding: vc(50);
		min-height: vc(385);
		box-shadow: $box-shadow;

		&-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;

			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				background-color: $color-black;
				opacity: 0.7;
				inset: 0;
			}

			picture,
			img {
				height: 100%;
			}
		}

		&-title {
			font-weight: 700;
			font-size: vc(40);
			color: $color-white;
		}

		&-content {
			position: relative;
			z-index: 2;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			gap: vc(35);
		}

		@include devices {
			order: 1;
			min-height: vc(200);
		}
	}

	&__video {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		border-radius: vc(10);
		padding: vc(50);
		min-height: vc(385);
		box-shadow: $box-shadow;

		&-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;

			picture,
			img {
				height: 100%;
			}
		}

		&-play {
			position: absolute;
			z-index: 3;
			display: flex;
			align-items: center;
			justify-content: center;
			outline: vc(30) solid rgba($tree-poppy-400, 0.2);
			border-radius: 100%;
			width: vc(90);
			height: vc(90);
			background-color: rgba($tree-poppy-400, 0.7);

			svg {
				position: absolute;
				width: vc(30);
				height: vc(30);
				fill: $color-white;
			}
		}

		@include devices {
			order: 0;
			min-height: vc(200);
		}
	}
}
