mixin basket-product(data = {})
	form.basket-product&attributes(attributes)
		input(type="hidden" name="id" value="165149856")
		.basket-product__option
			if data.edit
				button.basket-product__edit
					+svg('pen-to-square')
			button.basket-product__del X
		.basket-product__img
			+picture({
				path: `${baseDir}assets/images/image`,
				ext: 'png',
			})
		.basket-product__info
			.basket-product__left
				a.basket-product__title(href="#") lorem
				.basket-product__article Kia - 123549
				.basket-product__status.green
					p В наличии
				.basket-product__characteristic
					p Единица измерения
					span ШТ
				.basket-product__characteristic
					p Вес (кг)
					span 1,3
			.basket-product__right
				.basket-product__price(data-product-price="15000")
					p Цена: #[span 15000 ₽]
				.basket-product__count
					+input({
						type: 'text',
						placeholder: 'Количество',
						name: 'count',
						value: 2,
					})
				.basket-product__total(data-product-total="15000")
					p Сумма: #[span 15000 ₽]
