extends @pug/base

append globals
	- pageName = 'query'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main
				+breadcrumbs()
				section.section-notification
					.container
						.row
							.notification(data-id="1" data-read="1")
								.notification__head
									p Номер запроса:
										span 1700049569
								.notification__main
									.notification__info
										.notification__info-head
											+svg('calendar-clock')
											p Дата создания
										.notification__info-main
											p 15.11.2023
											p 13:57:29
									.notification__info
										.notification__info-head
											+svg('pen-to-square')
											p Дата редактирования
										.notification__info-main
											p 15.11.2023
											p 13:57:29
									.notification__info
										.notification__info-head
											+svg('user')
											p Кто редактировал
										.notification__info-main
											p 15.11.2023
											p 13:57:29
							.notification.is-new(data-id="1" data-read="0")
								.notification__head
									p Номер запроса:
										span 1700049569
								.notification__main
									.notification__info
										.notification__info-head
											+svg('calendar-clock')
											p Дата создания
										.notification__info-main
											p 15.11.2023
											p 13:57:29
									.notification__info
										.notification__info-head
											+svg('pen-to-square')
											p Дата редактирования
										.notification__info-main
											p 15.11.2023
											p 13:57:29
									.notification__info
										.notification__info-head
											+svg('user')
											p Кто редактировал
										.notification__info-main
											p 15.11.2023
											p 13:57:29
				section
					.container
						include @components/input-file/input-file
			+footer()
