extends @pug/base

append globals
	- pageName = 'query'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.notification
				+breadcrumbs()
				section
					.container
						.row
							.notification__item.is-new(data-id="1")
								p.notification__item-title Lorem ipsum dolor sit amet
								p.notification__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid culpa dolore doloribus dolorum, ducimus eaque, hic iste, laborum magnam maiores necessitatibus odit quasi quisquam saepe sunt vel veritatis vero.
								.notification__footer
									.notification__date-create
										p Дата создания: 12.11.2023
									.notification__date-edit
										p Дата редактирования: 20.11.2023
									.notification__manager
										p Кто редактировал: Илья Чуткин

			+footer()
