extends @pug/base

append globals
	- pageName = 'query'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.funnel
				+breadcrumbs()
				section
					.container
						+navTab([
							{
								link: 'Новый запрос',
							},
							{
								link: 'Воронка запросов',
								active: true,
							},
						])
				section
					.container
						p.h3.mb-20 Поиск запроса
						form.form
							.form__main
								.form__row
									+input({
										type: 'text',
										placeholder: 'Номер запроса',
										name: 'requestnumber',
									})
									+input({
										type: 'text',
										placeholder: 'Кем создан',
										name: 'createdby',
									})
									+input({
										type: 'text',
										placeholder: 'Дата',
										name: 'date',
									}).datepicker-multiple
									button.button.button__primary(type="submit") Поиск
				section.mt-40
					.container
						.funnel__wrapper
							.funnel__row
								-
									const funnel = [
										{title: 'Счет оплачен', color: 'blue-1'},
										{title: 'В пути', color: 'blue-2'},
										{title: 'Готов к отгрузке', color: 'blue-3'},
										{title: 'Отгружен', color: 'green'},
									];
								each item in funnel
									.funnel__col
										.funnel__head
											p.h3!= item.title
											.funnel__head-line(class=`funnel__head-line--${item.color}`)
										.funnel__list
											+cardFunnel()
											+cardFunnel()
											+cardFunnel()
											+cardFunnel()
											+cardFunnel()
			+footer()
