.product {
	display: flex;
	flex-direction: column;
	gap: vc(20);

	&__head {
		display: flex;
		justify-content: space-between;
	}

	&__main {
		position: relative;
		display: grid;
		grid-template-columns: vc(400) 1fr;

		//overflow: hidden;
		gap: vc(30);

		@include devices {
			grid-template-columns: 1fr;
		}
	}

	&__gallery {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		gap: vc(15);

		picture {
			overflow: hidden;
			border-radius: vc(5);
		}

		&-thumb {
			width: calc(100% + #{vc(15)});

			.swiper-slide {
				padding-right: vc(15);
				opacity: 0.7;
			}

			.swiper-slide-thumb-active {
				opacity: 1;
			}
		}
	}

	&__info {
		display: grid;
		grid-template-columns: 1fr vc(360);
		height: min-content;
		gap: vc(20);

		@include devices {
			grid-template-columns: 1fr;
		}
	}

	&__status {
		&.red {
			color: #fa5d47;
		}

		&.green {
			color: #02bc7d;
		}

		&.yellow {
			color: $tree-poppy-400;
		}
	}

	&__specification {
		display: flex;
		justify-content: space-between;
		margin-top: -1px;
		border-top: 1px solid $woodsmoke-100;
		border-bottom: 1px solid $woodsmoke-100;
		padding: vc(20);
		background-color: $color-white;

		&:nth-child(2n) {
			background-color: $woodsmoke-50;
		}
	}

	&__specifications {
		.row {
			display: flex;
			flex-direction: column;
			margin-top: vc(20);

			@include devices {
				gap: 0;
			}
		}

		@include devices {
			order: 1;
		}
	}

	&__description {
		@include desktop {
			grid-column: span 2 / span 1;
		}

		@include devices {
			order: 2;
		}
	}

	&__basket {
		display: grid;
		grid-auto-rows: min-content;
		grid-template-columns: repeat(2, 1fr);
		border-radius: vc(5);
		padding: vc(20);
		height: min-content;
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		gap: vc(15);

		@include devices {
			order: 0;
		}
	}

	&__price {
		grid-column: span 2 / span 1;

		span {
			color: $woodsmoke-400;
		}

		p {
			font-weight: 700;
			font-size: vc(30);
			color: $tree-poppy-400;
		}
	}

	&__count {
		display: flex;
		border: 1px solid $woodsmoke-200;

		input {
			border-right: 1px solid $woodsmoke-200;
			border-left: 1px solid $woodsmoke-200;
			width: vc(80);
			text-align: center;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				appearance: none;
			}
		}

		button {
			width: vc(35);
		}
	}
}
