form.product
	.product__head
		h1.h3 Название товара + бренд + артикул
		button.product__edit(data-open-modal="edit-product")
			+svg("pen-to-square")
	.product__main
		.product__gallery
			.product__gallery-main
				.swiper
					.swiper-wrapper
						each slide in [1, 2, 3, 4, 5, 6, 7, 8]
							.swiper-slide
								+picture({
									path: `${baseDir}assets/images/image`,
									ext: 'png',
								})
			.product__gallery-thumb
				.swiper
					.swiper-wrapper
						each slide in [1, 2, 3, 4, 5, 6, 7, 8]
							.swiper-slide
								+picture({
									path: `${baseDir}assets/images/image`,
									ext: 'png',
								})
		.product__info
			.product__body
				.product__info-pro
					p Номер запроса: #[b #[a(href="#") 200203]]
					p Действует до: #[b 20.02.2024]
				.product__specifications
					.row
						.product__specification
							p Срок поставки
							p.product__status.green В наличии
						.product__specification
							p Единица измерения
							p 168
						.product__specification
							p Вес
							p 168
						.product__specification
							p Качество
							p 168
			.product__basket
				.product__price
					span Цена:
					p 15000₽
				.product__count
					button.product__count-minus -
					input(type="number" name="count" value="1" max="100")
					button.product__count-plus +
				button.button.button__primary В корзину
			.product__description
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet architecto asperiores blanditiis commodi deserunt dolorem enim ipsum labore, minima mollitia natus nobis obcaecati odit quibusdam quidem quos rem!
