.product {
	display: flex;
	flex-direction: column;
	gap: vc(20);

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__main {
		position: relative;
		display: grid;
		grid-template-columns: vc(400) 1fr;
		gap: vc(30);

		@include devices {
			grid-template-columns: 100%;
		}
	}

	&__gallery {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		gap: vc(15);

		picture {
			overflow: hidden;
			border-radius: vc(5);
			height: vc(400);

			img {
				height: 100%;
				object-fit: contain;
			}
		}

		&-main {
			@include devices {
				width: 100%;
			}
		}

		&-thumb {
			width: calc(100% + #{vc(15)});

			picture {
				height: vc(90);
			}

			.swiper-slide {
				padding-right: vc(15);
				opacity: 0.7;
			}

			.swiper-slide-thumb-active {
				opacity: 1;
			}
		}
	}

	&__info {
		display: grid;
		grid-template-columns: 1fr vc(576);
		width: 100%;
		height: fit-content;
		gap: vc(20);

		@include devices {
			grid-template-columns: 100%;
		}
	}

	&__side {
		display: flex;
		flex-shrink: 0;
		flex-direction: column;
		width: vc(576);
		gap: vc(20);

		@include devices {
			width: 100%;
		}
	}

	&__body {
		width: vc(374);

		@include devices {
			width: 100%;
		}
	}

	&__specifications {
		.row {
			display: flex;
			flex-direction: column;
			margin-top: vc(20);

			@include devices {
				gap: 0;
			}
		}

		@include devices {
			order: 1;
		}
	}

	&__specification {
		display: flex;
		justify-content: space-between;
		margin-top: -1px;
		border-top: 1px solid $woodsmoke-100;
		border-bottom: 1px solid $woodsmoke-100;
		padding: vc(20);
		background-color: $color-white;

		&:nth-child(2n) {
			background-color: $woodsmoke-50;
		}
	}

	&__status {
		&.red {
			color: #fa5d47;
		}

		&.green {
			color: #02bc7d;
		}

		&.yellow {
			color: $tree-poppy-400;
		}
	}

	&__edit {
		display: inline-flex;
		width: vc(20);
		height: vc(20);

		svg {
			fill: $tree-poppy-400;
		}
	}

	&__tooltip {
		position: absolute;
		left: vc(-12);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		width: vc(12);
		height: vc(12);
		background-color: $tree-poppy-400;

		svg {
			padding: vc(2);
			fill: $color-white;
		}
	}

	&__basket {
		display: flex;
		flex-direction: column;
		overflow: auto;
		width: 100%;
		scrollbar-width: vc(2);

		&::-webkit-scrollbar-thumb {
			border-radius: vc(90);
			background-color: $tree-poppy-400;
		}

		&::-webkit-scrollbar-track {
			border-radius: vc(90);
			background: $woodsmoke-200;
		}

		&::-webkit-scrollbar {
			height: vc(2);
		}

		&-wrapper {
			min-width: vc(576);
		}

		&-head {
			> * {
				border-right: 1px solid rgba($color-black, 0.2);
				padding: 0 vc(14) vc(14);
				font-size: vc(16);

				&:last-of-type {
					border: none;
				}

				@include devices {
					padding: vc(14);
				}
			}
		}

		&-item {
			display: flex;
			align-items: center;
			border-right: 1px solid rgba($color-black, 0.2);
			padding: vc(14);
			height: 100%;
			font-size: vc(16);

			&:last-of-type {
				border-right: none;
			}

			.form__input {
				padding: vc(10);

				input {
					text-align: center;

					&:disabled {
						color: $woodsmoke-300;

						~ span {
							color: $woodsmoke-300;
						}
					}
				}

				span {
					font-size: vc(10);
					line-height: 1.5;
					translate: vc(-12) vc(-23) !important;
				}
			}
		}

		button {
			flex-shrink: 0;
			align-items: center;
			padding: 0;
			width: vc(40);
			height: vc(40);

			svg {
				width: vc(20);
				height: vc(20);
				fill: $color-white;
				transition: $transition;
			}

			&:hover {
				svg {
					fill: $tree-poppy-400;
				}
			}
		}

		&-form,
		&-head {
			position: relative;
			display: grid;
			align-items: center;
			grid-template-columns: vc(108) vc(107) vc(118) 1fr vc(40);
			margin-left: vc(12);
		}

		&-form {
			border-bottom: 1px solid rgba($color-black, 0.2);

			&:last-child {
				border-bottom: none;
			}

			&.is-disabled {
				.commodity-query__basket-item {
					opacity: 0.4;
				}

				p {
					text-decoration: line-through;
					color: $color-black;
				}
			}
		}
	}

	&__query {
		display: grid;
		align-items: center;
		grid-template-columns: vc(80) 1fr 0.5fr;
		padding: vc(30);
		box-shadow: $box-shadow;
		gap: vc(20);

		@include devices {
			grid-template-columns: 100%;
		}
	}

	&__description {
		grid-column: 1 / span 2;

		@include devices {
			grid-column: 1;
		}
	}
}
