.product
	.product__head
		h1.h3 Название товара + бренд + артикул
		button.product__edit(data-open-modal="edit-product")
			+svg("pen-to-square")
	.product__main
		.product__gallery
			.product__gallery-main
				.swiper
					.swiper-wrapper
						each slide in [1, 2, 3, 4, 5, 6, 7, 8]
							.swiper-slide
								a(data-fancybox="gallery" href=`${baseDir}assets/images/image.png`)
									+picture({
										path: `${baseDir}assets/images/image`,
										ext: 'png',
									})
			.product__gallery-thumb
				.swiper
					.swiper-wrapper
						each slide in [1, 2, 3, 4, 5, 6, 7, 8]
							.swiper-slide
								a(href=`${baseDir}assets/images/image.png` data-fslightbox)
									+picture({
										path: `${baseDir}assets/images/image`,
										ext: 'png',
									})
		.product__info
			.product__body
				.product__specifications
					.row
						.product__specification
							p Срок поставки
							p.product__status.green В наличии
						.product__specification
							p Единица измерения
							p 168
						.product__specification
							p Вес
							p 168
						.product__specification
							p Качество
							p 168
			.product__side
				.product__basket
					.product__basket-wrapper
						.product__basket-head
							p Цена:
							p Кол-во:
							p Сумма:
							p Срок поставки:
						form.product__basket-form(data-add-basket)
							.product__basket-item
								p 15 000 ₽
							.product__basket-item
								+input({
									type: 'text',
									name: 'count',
									value: 2,
								})
							.product__basket-item
								p #[span 30 000 ₽]
							.product__basket-item
								.product__info-status.green
									p В наличии
							button.button.button__primary(type="submit")
								+svg("cart-shopping")
						form.product__basket-form.is-disabled(data-add-request)
							.product__tooltip(data-tooltip="Срок действия предложения истек. Вы можете обновить информацию по отдельному товару или по всему запросу.")
								+svg('question-solid')
							.product__basket-item
								p 15 000 ₽
							.product__basket-item
								+input({
									type: 'text',
									name: 'count',
									value: 2,
									disabled: true
								})
							.product__basket-item
								p #[span 30 000 ₽]
							.product__basket-item
								.product__info-status.yellow
									p 7-14 дней
							button.button.button__primary(type="submit")
								+svg("plus")
						form.product__basket-form.is-disabled(data-add-request)
							.product__tooltip(data-tooltip="Срок действия предложения истек. Вы можете обновить информацию по отдельному товару или по всему запросу.")
								+svg('question-solid')
							.product__basket-item
								p 15 000 ₽
							.product__basket-item
								+input({
									type: 'text',
									name: 'count',
									value: 2,
								})
							.product__basket-item
								p #[span 30 000 ₽]
							.product__basket-item
								.product__info-status.red
									p 24-31 день
							button.button.button__primary(type="submit")
								+svg("plus")
						form.product__basket-form.is-disabled(data-add-request)
							.product__tooltip(data-tooltip="Срок действия предложения истек. Вы можете обновить информацию по отдельному товару или по всему запросу.")
								+svg('question-solid')
							.product__basket-item
								p 15 000 ₽
							.product__basket-item
								+input({
									type: 'text',
									name: 'count',
									value: 2,
									disabled: true,
								})
							.product__basket-item
								p #[span 30 000 ₽]
							.product__basket-item
								.product__info-status.red
									p 24-31 день
							button.button.button__primary(type="submit")
								+svg('plus')
				form.product__query(data-add-request)
					+input({
						type: 'text',
						name: 'count',
						value: 2,
						disabled: true
					})
					p Укажите необходимое количество для запроса
					button.button.button__primary(type="submit") Запросить
			.product__description
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus amet architecto asperiores blanditiis commodi deserunt dolorem enim ipsum labore, minima mollitia natus nobis obcaecati odit quibusdam quidem quos rem!
