form.product
	.product__main
		.product__gallery
			.product__gallery-main
				.swiper
					.swiper-wrapper
						each slide in [1, 2, 3, 4, 5, 6, 7, 8]
							.swiper-slide
								+picture({
									path: `${baseDir}assets/images/image`,
									ext: 'png',
								})
			.product__gallery-thumb
				.swiper
					.swiper-wrapper
						each slide in [1, 2, 3, 4, 5, 6, 7, 8]
							.swiper-slide
								+picture({
									path: `${baseDir}assets/images/image`,
									ext: 'png',
								})
		.product__info
			.product__head
				h1.h3 Название товара
				.product__head-bottom
					p Бренд + артикул
					.product__head-right
						.product__head-item
							p Предложение: #[a 2353674392]
						.product__head-item
							p Действительно до: #[b 9/05/23]
			.product__info-item.product__info-item--price
				p Цена: #[span 15000 Р]
			.product__info-item.product__info-item--count
				+input({
					type: 'number',
					placeholder: 'Количество',
					name: 'count',
					value: '1'
				})
				.product__info-status.green
					p В наличии
					button
						+svg('rotate')
			.product__info-item
				p Итогова цена: #[span 15000 Р]
			.product__button
				button.button.button__primary Добавить в корзину
	.product__specifications
		h3 Спецификации
		.row
			.product__specification
				p Категория
				p 168
			.product__specification
				p Единица измерения
				p 168
			.product__specification
				p Тип
				p 168
			.product__specification
				p Вес
				p 168
			.product__specification
				p Качество
				p 168
			.product__specification
				p Комментарий
				p 168
