mixin commodityQuery(data)
	.commodity-query
		.commodity-query__heading
			.commodity-query__heading-item
				p Дата создания #[b 23.05.24]
			.commodity-query__heading-item
				p Номер запроса: #[b 2353674392]
			.commodity-query__heading-item
				p Кем создан: #[b Имя Фамилия]
			.commodity-query__heading-item
				p Статус: #[b Обработан]
			.commodity-query__heading-item
				p Действительно до: #[b 24.05.24]
		form.commodity-query__item(data-add-basket)
			.commodity-query__img
				+picture({
					path: `${baseDir}assets/images/1`,
					ext: 'jpg',
				})
			.commodity-query__head
				a.commodity-query__head-title(href="#")!= data.title
				p.commodity-query__head-article 13232422
				.commodity-query__head-characteristics
					.commodity-query__head-characteristic
						p Единица измерения
						span ШТ
					.commodity-query__head-characteristic
						p Вес ( кг )
						span 1,55
			.commodity-query__info
				.commodity-query__info-item
					.commodity-query__info-message
						p У товара истёк срок действия цены и срока поставки. Товар необходимо запросить заново.

					.commodity-query__info-price
						p Цена:
						p #[del 15 000 Р]
				.commodity-query__info-item
					if (data.status === 'green')
						.commodity-query__info-status.green
							p В наличии
						+input({
							type: 'text',
							placeholder: 'Количество',
							name: 'count',
							value: 2,
						})
					else if (data.status === 'red')
						.commodity-query__info-status.red
							p Нет в Наличии
						.commodity-query__info-stoke
							p -
					else if (data.status === 'yellow')
						.commodity-query__info-status.yellow
							p Под заказ
						.commodity-query__info-stoke
							p -
				.commodity-query__info-item
					.commodity-query__info-summary
						p Сумма: #[span #[del 30 000 Р]]
						button.button.button__primary Добавить в корзину
		form.commodity-query__item(data-add-basket)
			.commodity-query__img
				+picture({
					path: `${baseDir}assets/images/1`,
					ext: 'jpg',
				})
			.commodity-query__head
				p.commodity-query__head-title!= data.title
				p.commodity-query__head-article 13232422
				.commodity-query__head-characteristics
					.commodity-query__head-characteristic
						p Единица измерения
						span ШТ
					.commodity-query__head-characteristic
						p Вес ( кг )
						span 1,55
			.commodity-query__info
				.commodity-query__info-item

					.commodity-query__info-price
						p Цена:
						p 15 000 Р
				.commodity-query__info-item
					if (data.status === 'green')
						.commodity-query__info-status.green
							p В наличии
						+input({
							type: 'text',
							placeholder: 'Количество',
							name: 'count',
							value: 2,
						})
					else if (data.status === 'red')
						.commodity-query__info-status.red
							p Нет в Наличии
						.commodity-query__info-stoke
							p -
					else if (data.status === 'yellow')
						.commodity-query__info-status.yellow
							p Под заказ
						.commodity-query__info-stoke
							p -
				.commodity-query__info-item
					.commodity-query__info-summary
						p Сумма: #[span #[del 30 000 Р]]
						button.button.button__primary Добавить в корзину
