mixin commodityQuery(data)
	.commodity-query
		.commodity-query__heading
			.commodity-query__heading-item
				p Дата создания #[b 23.05.24]
			.commodity-query__heading-item
				p Номер запроса: #[b 2353674392]
			.commodity-query__heading-item
				p Кем создан: #[b Имя Фамилия]
			.commodity-query__heading-item
				p Статус: #[b Обработан]
			.commodity-query__heading-item
				p Действительно до: #[b 24.05.24]
		.commodity-query__item
			.commodity-query__del(data-qh-id="17" data-qh-num="17192253381")
				+svg('xmark')
			.commodity-query__img
				+picture({
					path: `${baseDir}assets/images/1`,
					ext: 'jpg',
				})
			.commodity-query__head
				a.commodity-query__head-title(href="#")!= data.title
				p.commodity-query__head-article 13232422
				.commodity-query__head-characteristics
					.commodity-query__head-characteristic
						p Единица измерения
						span ШТ
					.commodity-query__head-characteristic
						p Вес ( кг )
						span 1,55
			.commodity-query__basket
				.commodity-query__basket-wrapper
					.commodity-query__basket-head
						p Цена:
						p Кол-во:
						p Сумма:
						p Срок поставки:
					form.commodity-query__basket-form(data-add-basket)
						.commodity-query__basket-item
							p 15 000 ₽
						.commodity-query__basket-item
							+input({
								type: 'text',
								placeholder: 'Количество',
								name: 'count',
								value: 2,
							})
						.commodity-query__basket-item
							p #[span 30 000 ₽]
						.commodity-query__basket-item
							.commodity-query__info-status.green
								p В наличии
						button.button.button__primary
							+svg("cart-shopping")
					form.commodity-query__basket-form(data-add-basket)
						.commodity-query__basket-item
							p 15 000 ₽
						.commodity-query__basket-item
							+input({
								type: 'text',
								placeholder: 'Количество',
								name: 'count',
								value: 2,
							})
						.commodity-query__basket-item
							p #[span 30 000 ₽]
						.commodity-query__basket-item
							.commodity-query__info-status.yellow
								p 7-14 дней
						button.button.button__primary
							+svg("cart-shopping")
					form.commodity-query__basket-form(data-add-basket)
						.commodity-query__basket-item
							p 15 000 ₽
						.commodity-query__basket-item
							+input({
								type: 'text',
								placeholder: 'Количество',
								name: 'count',
								value: 2,
							})
						.commodity-query__basket-item
							p #[span 30 000 ₽]
						.commodity-query__basket-item
							.commodity-query__info-status.red
								p 24-31 день
						button.button.button__primary
							+svg("cart-shopping")
					form.commodity-query__basket-form(data-add-basket)
						.commodity-query__basket-item
							p 15 000 ₽
						.commodity-query__basket-item
							+input({
								type: 'text',
								placeholder: 'Количество',
								name: 'count',
								value: 2,
								disabled: true,
							})
						.commodity-query__basket-item
							p #[span 30 000 ₽]
						.commodity-query__basket-item
							.commodity-query__info-status.red
								p 24-31 день
						button.button.button__primary
							+svg("cart-shopping")
