.commodity-query {
	&__heading {
		display: grid;
		grid-template-columns: vc(224) vc(250) vc(324) vc(180) vc(256);
		padding: vc(18);
		background-color: #e5edf0;
		gap: vc(30);

		&-item {
			font-size: vc(16);
			white-space: nowrap;

			a {
				@include hoverOpacity;

				color: $tree-poppy-400;
			}
		}

		@include devices {
			grid-template-columns: 1fr;
			gap: vc(15);
		}
	}

	&__item {
		position: relative;
		display: grid;
		grid-template-columns: vc(300) 1fr vc(580);
		border-top: 1px solid rgba($color-black, 0.2);
		padding: vc(30);
		gap: vc(30);

		&:nth-child(1) {
			border: none;
		}

		@include devices {
			grid-template-columns: 1fr;
			gap: vc(15);
		}
	}

	&__tooltip {
		position: absolute;
		left: vc(-12);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		width: vc(12);
		height: vc(12);
		background-color: $tree-poppy-400;

		svg {
			padding: vc(2);
			fill: $color-white;
		}
	}

	&__del {
		position: absolute;
		right: vc(16);
		top: vc(20);
		z-index: 2;
		cursor: pointer;

		svg {
			width: vc(18);
			height: vc(18);
			fill: $tree-poppy-400;
		}
	}

	&__img {
		width: vc(300);
		height: vc(300);

		img,
		picture {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__head {
		&-title {
			font-weight: 600;
			font-size: vc(24);
		}

		&-article {
			margin-top: vc(15);
			font-size: vc(18);
			opacity: 0.4;
		}

		&-characteristics {
			display: flex;
			flex-direction: column;
			margin-top: vc(60);
			gap: vc(15);

			@include devices {
				margin-top: vc(20);
			}
		}

		&-characteristic {
			display: flex;
			flex-direction: column;
			gap: vc(12);

			p {
				font-size: vc(16);
			}

			span {
				font-weight: 700;
				font-size: vc(14);
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: vc(25) 0;
			font-size: vc(16);
			gap: vc(60);

			> * {
				flex-shrink: 0;
				width: vc(215);

				@include devices {
					width: 100%;
				}
			}

			&:nth-child(2) {
				border: 1px solid rgba($color-black, 0.2);
				border-right: none;
				border-left: none;
			}

			@include devices {
				flex-direction: column;
				gap: vc(15);
			}
		}

		&-price {
			display: flex;
			justify-content: space-between;
			gap: vc(25);
		}

		&-status {
			display: flex;
			justify-self: flex-start;
			gap: vc(10);

			svg {
				width: vc(20);
				height: vc(20);
				fill: rgba($color-black, 0.4);
			}

			&.red {
				color: #fa5d47;
			}

			&.green {
				color: #02bc7d;
			}

			&.yellow {
				color: $tree-poppy-400;
			}
		}

		&-stoke {
			display: flex;
			flex-direction: column;
			gap: vc(5);
		}

		&-summary {
			display: flex;
			flex-direction: column;
			gap: vc(20);

			p {
				display: flex;
				justify-content: space-between;
			}
		}

		&-message {
			border-radius: vc(5);
			padding: vc(10);
			box-shadow: $box-shadow;
			font-weight: 600;
			font-size: vc(12);
			color: $tree-poppy-400;
		}

		&-button {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__basket {
		display: flex;
		flex-direction: column;
		overflow: auto;
		width: 100%;
		scrollbar-width: vc(2);

		&::-webkit-scrollbar-thumb {
			border-radius: vc(90);
			background-color: $tree-poppy-400;
		}

		&::-webkit-scrollbar-track {
			border-radius: vc(90);
			background: $woodsmoke-200;
		}

		&::-webkit-scrollbar {
			height: vc(2);
		}

		&-wrapper {
			min-width: vc(576);
		}

		&-head {
			> * {
				border-right: 1px solid rgba($color-black, 0.2);
				padding: 0 vc(14) vc(14);
				font-size: vc(16);

				&:last-of-type {
					border: none;
				}

				@include devices {
					padding: vc(14);
				}
			}
		}

		&-item {
			display: flex;
			align-items: center;
			border-right: 1px solid rgba($color-black, 0.2);
			padding: vc(14);
			height: 100%;
			font-size: vc(16);

			&:last-of-type {
				border-right: none;
			}

			.form__input {
				padding: vc(10);

				input {
					text-align: center;

					&:disabled {
						color: $woodsmoke-300;

						~ span {
							color: $woodsmoke-300;
						}
					}
				}

				span {
					font-size: vc(10);
					line-height: 1.5;
					translate: vc(-12) vc(-23) !important;
				}
			}
		}

		button {
			flex-shrink: 0;
			align-items: center;
			padding: 0;
			width: vc(40);
			height: vc(40);

			svg {
				width: vc(20);
				height: vc(20);
				fill: $color-white;
				transition: $transition;
			}

			&:hover {
				svg {
					fill: $tree-poppy-400;
				}
			}
		}

		&-form,
		&-head {
			position: relative;
			display: grid;
			align-items: center;
			grid-template-columns: vc(108) vc(107) vc(118) 1fr vc(40);
			margin-left: vc(12);
		}

		&-form {
			border-bottom: 1px solid rgba($color-black, 0.2);

			&:last-child {
				border-bottom: none;
			}

			&.is-disabled {
				.commodity-query__basket-item {
					opacity: 0.4;
				}

				p {
					text-decoration: line-through;
					color: $color-black;
				}
			}
		}
	}
}
