extends @pug/base

append globals
	- pageName = 'query-history'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.query
				+breadcrumbs()
				section
					.container
						+navTab([
							{
								link: 'Новый запрос',
							},
							{
								link: 'История запросов',
								active: true,
							},
						])
				section
					.container
						.query__box
							.query__box-title
								p Поиск
							.query__box-form
								form.form(data-query-history)
									.form__main
										.form__row
											+input({
												type: 'text',
												placeholder: 'Бренд',
												name: 'brand',
												list: 'brands',
											})
											+input({
												type: 'text',
												placeholder: 'Номер запчасти',
												name: 'numparts',
											})
											+input({
												type: 'text',
												placeholder: 'Номер запроса',
												name: 'numquery',
											})
											+input({
												type: 'text',
												placeholder: 'Дата',
												name: 'date',
											}).datepicker-multiple
									.form__buttons
										button.button.button__primary(type="submit") Поиск
				section(data-more-query-h)
					.container
						.query__box
							.query__box-title
								p Результат поиска
								button.button.button__primary Создать предложение
							.query__box-items
								+commodityQuery({
									title: 'Название товара',
									status: 'green',
								})
								+commodityQuery({
									title: 'Название товара',
									status: 'red',
								})
								+commodityQuery({
									title: 'Название товара',
									status: 'yellow',
								})
						form.form.mt-50(data-more)
							input(type="hidden" name="query_more" value="30")
							button.button.button__primary(type="submit") Загрузить ещё

			+footer()
