extends @pug/base

append globals
	- pageName = 'query-history'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.query
				+breadcrumbs()
				section
					.container
						+navTab([
							{
								link: 'Новый запрос',
							},
							{
								link: 'История запросов',
								active: true,
							},
						])
				section
					.container
						.query__box
							.query__box-title
								p Поиск
							.query__box-form
								form.form(data-query-history)
									.form__main
										.form__row
											+input({
												type: 'text',
												placeholder: 'Бренд',
												name: 'brand',
												list: 'brands',
											})
											+input({
												type: 'text',
												placeholder: 'Номер запчасти',
												name: 'numparts',
											})
											+input({
												type: 'text',
												placeholder: 'Номер запроса',
												name: 'numquery',
											})
											+input({
												type: 'text',
												placeholder: 'Дата',
												name: 'date',
											}).datepicker-multiple
									.form__buttons
										button.button.button__primary(type="submit") Поиск
				section(data-more-query-h)
					.container
						.query__box
							.query__box-title
								p Результат поиска
								.query__box-buttons
									form(data-export-xls)
										input(type="hidden" name="exportquery" value="1")
										button.button.button__outline(type="submit") Экспортировать в файл
									button.button.button__primary(data-open-modal="create-proposal") Создать предложение
							.query__box-items
								.commodity-query
									each data in [1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]
										.commodity-query__heading
											.commodity-query__heading-item
												p Дата создания: #[b 23.05.24]
											.commodity-query__heading-item
												p Номер запроса: #[a(href="#") #[b 2353674392]]
											.commodity-query__heading-item
												p Кем создан: #[b Имя Фамилия]
											.commodity-query__heading-item
												p Статус: #[b Обработан]
											.commodity-query__heading-item
												p Действительно до: #[b 24.05.24]
								//+commodityQuery({
								//	title: 'Название товара',
								//	status: 'green',
								//})
						include @components/pagenav/pagenav
						//form.form.mt-50(data-more)
						//	input(type="hidden" name="query_more" value="30")
						//	button.button.button__primary(type="submit") Загрузить ещё
			section.modal.modal--preload(data-modal="create-proposal")
				.modal__wrapper
					.modal__overlay
					.modal__content.small
						button.modal__close-btn(type="button" aria-label="Закрыть попап" data-close-modal data-focus)
							+svg("xmark")
						form(action="/Main/export_pdf_commerce/" method="post")
							input(type="hidden" name="query_id" value="000000000000000000")
							.form__main.mt-50.mb-50
								.page__info-row.row-2
									+input({
										type: 'number',
										placeholder: 'Наценка',
										name: 'margin',
									})
									button.button.button__primary Создать PDF

			+footer()
