extends @pug/base

append globals
	- pageName = 'query-history'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.query
				+breadcrumbs()
				section
					.container
						+navTab([
							{
								link: 'Новый запрос',
							},
							{
								link: 'История запросов',
								active: true,
							},
						])
				section
					.container
						.query__box
							.query__box-title Поиск
							.query__box-form
								form.form(data-query-history)
									.form__main
										.form__row
											+input({
												type: 'text',
												placeholder: 'Бренд',
												name: 'brand',
												list: 'brands',
											})(data-required="true")
											+input({
												type: 'text',
												placeholder: 'Номер запчасти',
												name: 'numparts',
											})(data-required="true")
											+input({
												type: 'text',
												placeholder: 'Номер запроса',
												name: 'numquery',
											})(data-required="true")
											+input({
												type: 'text',
												placeholder: 'Дата',
												name: 'date',
											}).datepicker-multiple(data-required="true")
									.form__buttons
										button.button.button__primary(type="submit") Поиск
				section
					.container
						.query__box
							.query__box-title Результат поиска
							.query__box-items
								+commodityQuery({
									title: 'Название товара',
									status: 'green',
								})
								+commodityQuery({
									title: 'Название товара',
									status: 'red',
								})
								+commodityQuery({
									title: 'Название товара',
									status: 'yellow',
								})

			+footer()
