extends @pug/base

append globals
	- pageName = 'query-history'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.query
				+breadcrumbs()
				section
					.container
						+navTab([
							{
								link: 'Новый запрос',
							},
							{
								link: 'История запросов',
								active: true,
							},
						])
				section
					.container
						.query__box
							.query__box-title Поиск
							.query__box-form
								form.form
									.form__main
										.form__row
											+input({
												type: 'text',
												placeholder: 'Бренд',
												name: 'brand',
											})
											+input({
												type: 'text',
												placeholder: 'Номер запчасти*',
												name: 'numparts',
											})
											+input({
												type: 'text',
												placeholder: 'Номер запроса',
												name: 'numquery',
											})
											+input({
												type: 'date',
												placeholder: 'Дата',
												name: 'date',
											})
									.form__buttons
										button.button.button__primary(type="submit") Поиск
				section
					.container
						.query__box
							.query__box-title Результат поиска
							.query__box-items
								+commodityQuery({
									title: 'Название товара',
									status: true,
								})
								+commodityQuery({
									title: 'Название товара',
									status: false,
								})

			+footer()
