extends @pug/base

append globals
	- pageName = 'privacy-policy'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main
				+breadcrumbs()
				section.section-text
					.container
						.row
							.text-block
								h1 Возврат товара
								mark Товар на возврат принимается исключительно путем оформления заявки через личный кабинет, в разделе - рекламации. Без оформленной и подтвержденной заявки товар принят не будет.
								h2 Возврат товара надлежащего качества
								h3 Условия возврата
								p Товар принимается к возврату только в полной комплектации, со всеми упаковками и наклейками, в неиспользованном виде
								h3 Причины возврата
								p Товар не подошел по техническим характеристикам.
								h3 Срок возврата товара
								p Срок возврата товара надлежащего качества составляет 14 дней с момента получения товара.
								h2 Возврат товара ненадлежащего качества
								h3 Причина возврата
								p Производственный недостаток (брак) товара, в соответствии с действующим законодательством
								h3 Срок возврата товара
								p Покупатель может вернуть товар в течение гарантийного срока, установленного производителем.
								p В случае, если по результату рассмотрения заявки продавцом принято положительное решение, покупатель может вернуть товар продавцу.
								h3 Как вернуть товар
								ol
									li Самостоятельно в пункт выдачи LOADERPRO
									li Покупатель может самостоятельно вернуть товар ненадлежащего качества в наши фирменные пункты выдачи.
									li Курьером транспортной компании в пункт выдачи LOADERPRO
									li Покупатель может оформить доставку транспортной компанией и вернуть товар ненадлежащего качества в наши фирменные пункты выдачи. Расходы на доставку будут компенсированы в будущих заказах.
			+footer()
