extends @pug/base

append globals
	- pageName = 'authorization'

append vars

block content
	+router(pageName)
		.site
			.demo
				.container
					h1 Список станиц
					-
						const pages = [
							{
								title: '404',
								href: '404',
							}, {
								title: 'Страница авторизации',
								href: 'authorization',
							}, {
								title: 'Страница регистрации',
								href: 'register',
							}, {
								title: 'Мой профиль',
								href: 'account',
							}, {
								title: 'Главная',
								href: 'home',
							}, {
								title: 'Уведомления',
								href: 'notification',
							}, {
								title: 'Запрос',
								href: 'query',
							}, {
								title: 'История запросов',
								href: 'query-history',
							}, {
								title: 'Ваш запрос обработан',
								href: 'message-query',
							}, {
								title: 'Товар',
								href: 'product',
							}, {
								title: 'Сотрудник',
								href: 'employee',
							}, {
								title: 'Форма запроса',
								href: 'request',
							}, {
								title: 'Новости',
								href: 'news',
							}, {
								title: 'Воронка запроса',
								href: 'funnel',
							}, {
								title: 'Воронка заказа',
								href: 'funnel-2',
							}, {
								title: 'Карточка запроса',
								href: 'request-card',
							}, {
								title: 'Каталог',
								href: 'catalog',
							},
						]
					ol
						each item in pages
							li
								a(href=item.href)!= item.title
