extends @pug/base

append globals
	- pageName = 'authorization'

append vars

block content
	+router(pageName)
		.site
			.demo
				.container
					h1 Список станиц
					-
						const pages = [
							{
								title: '404',
								href: '404',
							}, {
								title: 'Страница авторизации',
								href: 'authorization',
							}, {
								title: 'Страница регистрации',
								href: 'register',
							}, {
								title: 'Мой профиль',
								href: 'account',
							}, {
								title: 'Главная',
								href: 'home',
							}, {
								title: 'Уведомления',
								href: 'notification',
							}, {
								title: 'Запрос',
								href: 'query',
							}, {
								title: 'История запросов',
								href: 'query-history',
							}, {
								title: 'Ваш запрос обработан',
								href: 'message-query',
							},
						]
					ol
						each item in pages
							li
								a(href=item.href)!= item.title
