extends @pug/base

append globals
	- pageName = 'authorization'

append vars

block content
	+router(pageName)
		.site
			//include @components/header/header
			main.authorization
				section.authorization__auth
					.container
						.authorization__logo
							+svg("logo")
						.authorization__head
							p.h2 LOADER PROTECTION
						.row
							.authorization__login
								p.h1 Вы зарегистрированны?
								p.h3 Выполнить вход
								include @components/authentication/authentication
							.authorization__hr
							.authorization__registration
								p.h1 Новый пользователь?
								p.h3 Зарегистрируйтесь здесь
								.authorization__advantages
									.authorization__edge Dminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									.authorization__edge Dminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									.authorization__edge Dminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									.authorization__edge Dminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									.authorization__edge Dminim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									a.button.button__primary(href="/register/") Зарегистрироваться
			+footer-two()
