extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.home
				a.button.button__primary(href="/authorization/") authorization page
			include @components/footer/footer
