extends @pug/base

append globals
	- pageName = 'authorization'

append vars

block content
	+router(pageName)
		.site
			.demo
				.container
					h1 Список страниц
					-
						var pages = [
							{
								title: 'Страница авторизации',
								href: 'authorization',
							}, {
								title: 'Страница регистрации',
								href: 'register',
							}, {
								title: 'Мой профиль',
								href: 'account',
							}, {
								title: 'Главная',
								href: 'home',
							}, {
								title: 'Уведомления',
								href: 'notification',
							}, {
								title: 'Запрос',
								href: 'query',
							}, {
								title: 'История запросов',
								href: 'query-history',
							}, {
								title: 'Ваш запрос обработан',
								href: 'message-query',
							}, {
								title: 'Товар',
								href: 'product',
							}, {
								title: 'Сотрудник',
								href: 'employee',
							}, {
								title: 'Новости',
								href: 'news',
							}, {
								title: 'Воронка запроса',
								href: 'funnel',
							}, {
								title: 'Воронка заказа',
								href: 'funnel-2',
							}, {
								title: 'Карточка запроса',
								href: 'request-card',
							}, {
								title: 'Страница категорий',
								href: 'category',
							}, {
								title: 'Каталог',
								href: 'catalog',
							}, {
								title: 'Политика конфиденциальности',
								href: 'privacy-policy',
							}, {
								title: 'Возврат товара',
								href: 'return',
							}, {
								title: 'Реквизиты',
								href: 'requisites',
							}, {
								title: 'Оплата и Доставка',
								href: 'payment-delivery',
							}, {
								title: 'О компании',
								href: 'about',
							}, {
								title: 'Мой гараж',
								href: 'garage',
							}, {
								title: 'Данные ТС',
								href: 'vehicle',
							}, {
								title: 'Форма запроса',
								href: 'request',
							}, {
								title: 'Заказ оформлен',
								href: 'message-order',
							}, {
								title: 'Корзина',
								href: 'basket',
							}, {
								title: 'Сбой системы',
								href: 'message-error',
							}, {
								title: '404',
								href: '404',
							}, {
								title: 'Доступ закрыт',
								href: 'message-access',
							}, {
								title: 'Заказ',
								href: 'order',
							}, {
								title: 'Список заказов',
								href: 'list-orders',
							},
						]
					ol
						each item in pages
							li
								a(href=item.href)!= item.title
