.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: opacity $transition, transform $transition, visibility $transition;
	pointer-events: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	&__wrapper {
		position: relative;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 100%;
		background-color: rgba(#000, 0.6);
		transform: translateZ(0);
	}

	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: relative;
		border-radius: vc(20);
		padding: vc(40);
		width: 100%;
		max-width: vc(1080);
		background-color: $color-white;

		&.small {
			max-width: vc(540);
		}

		@include devices {
			padding: vc(20);
		}
	}

	&__close-btn {
		position: absolute;
		right: vc(15);
		top: vc(15);
		width: vc(25);
		height: vc(25);
		cursor: pointer;

		svg {
			fill: $color-black;
		}
	}

	iframe {
		border: none;
		max-width: 100%;
	}

	&.is-active {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
		transition: opacity $transition, transform $transition;
		pointer-events: auto;
	}

	&--preload {
		transition: none;
	}
}
