.header {
	&__top {
		padding: vc(18) 0;
		background-color: $color-snow;

		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-links {
			display: flex;
			gap: vc(60);
		}

		&-link {
			//font-weight: 500;
		}

		&-info {
			display: flex;
			gap: vc(40);
		}
	}

	&__main {
		padding: vc(25) 0;

		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: vc(60);
		}
	}

	&__footer {
		background-color: $color-nero;

		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__notification {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		gap: vc(5);
	}

	&__icon {
		position: relative;

		svg {
			width: vc(22);
			height: vc(22);
			fill: $color-black;
		}

		span {
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			width: vc(13);
			height: vc(13);
			font-weight: 600;
			font-size: vc(8);
			text-align: center;
			color: $color-white;
			background: $color-carrot-orange;
		}
	}

	&__basket {
		position: relative;
		display: flex;
		align-items: center;
		gap: vc(8);

		&-dropdown {
			svg {
				width: vc(15);
				height: vc(15);
				fill: $color-black;
			}
		}
	}

	&__logo {
		width: vc(204);
		height: vc(44);

		svg {
			fill: $color-black;
		}
	}

	&__user {
		display: flex;
		cursor: pointer;
		gap: vc(12);

		&-box {
			display: flex;
			flex-direction: column;
			gap: vc(10);
		}

		&-top {
			display: flex;
			font-size: vc(14);
			gap: vc(10);

			svg {
				width: vc(16);
				height: vc(16);
				fill: $color-carrot-orange;
			}
		}

		&-footer {
			font-size: vc(12);
		}

		&-button {
			svg {
				width: vc(15);
				height: vc(15);
				fill: $color-black;
			}
		}
	}

	&__query {
		display: grid;
		grid-template-columns: 1fr 1fr vc(145) vc(164);
		gap: vc(10);

		button {
			flex-shrink: 0;
		}
	}

	&__links {
		display: flex;
	}

	&__link {
		position: relative;
		display: block;
		padding: vc(22) vc(28);
		font-size: vc(19);
		color: $color-white;
		transition: color $transition, background-color $transition;

		&::after {
			content: attr(data-title);
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 700;
			text-align: center;
			color: transparent;
			transform: scale(0.9);
			transform-origin: center center;
			transition: 0.24s;
			inset: 0;
		}

		&:hover {
			//color: $color-nero;
			color: transparent;
			background-color: $color-carrot-orange;

			&::after {
				color: $color-nero;
				transform: scale(1);
			}
		}
	}
}
