header.header
	.header__top
		.container
			.row
				.header__top-links
					a.header__top-link(href="#") Обслуживание клиентов
					a.header__top-link(href="#") Свяжитесь с нами
				.header__top-info
					a.header__notification(href="#")
						.header__icon
							+svg("bell")
							span 9+
						p Уведомление
					a.header__basket(href="#")
						.header__icon
							+svg("cart-shopping")
							span 9+
						p 27/04/23 12:00
						b 1 500 ₽
						.header__basket-dropdown
							+svg("chevron-down")

	.header__main
		.container
			.row
				a.header__logo(href="/")
					+svg("logo")
				form.header__query(data-header-request)
					select(name="brand" data-nise-select)
						option(value="one") one
						option(value="two") two
					+input({
						type: 'text',
						placeholder: 'Номер запчасти',
						name: 'numparts',
					})(data-required="true")
					+input({
						type: 'number',
						placeholder: 'Количество',
						name: 'count',
					})(data-required="true")
					button.button.button__primary(type="submit") Запросить цену
				.header__user
					.header__user-box
						.header__user-top
							+svg("user")
							p Имя пользователя
						.header__user-footer
							p 35465756200 - telkhpro 000
					.header__user-button
						+svg("chevron-down")
					.header__user-dropdown
						a.header__user-link(href="#") Заказы
						a.header__user-link(href="#") Счета-фактуры
						a.header__user-link(href="#") Моя техника
						a.header__user-link(href="#") Рекламации и возвраты
						a.header__user-link(href="#") Настройки
						a.header__user-link.header__user-link--logout
							+svg("arrow-right-from-bracket")
							| Завершить сеанс
	.header__footer
		.container
			.row
				.header__links
					a.header__link(href="#" data-title="Подбор ЗЧ") Подбор ЗЧ
					a.header__link(href="#" data-title="Каталог") Каталог
					a.header__link(href="#" data-title="Гараж") Гараж
				.header__links
					a.header__link(href="#" data-title="Запросы") Запросы
					a.header__link(href="#" data-title="Заказы") Заказы
					a.header__link(href="#" data-title="Промоакции") Промоакции
.header-mobile
	.container
		.row
			a.header__logo(href="/")
				+svg("logo")
			a.header__notification(href="#")
				.header__icon
					+svg("bell")
					span 9+
			a.header__basket(href="#")
				.header__icon
					+svg("cart-shopping")
					span 9+
			button.header__burger
				span
				span
				span
	.header-mobile__wrapper
		.header-mobile__box
			a(href="#") Главная
			a(href="#") Запросы
			a(href="#") Заказы
			a(href="#") Подбор ЗЧ
			a(href="#") Каталог
			a(href="#") Гараж
			a(href="#") Мой аккаунт
			a.is-red(href="#") Завершить сеанс
