.header {
	&__top {
		padding: vc(18) 0;
		background-color: $woodsmoke-50;

		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-links {
			display: flex;
			gap: vc(60);
		}

		&-link {
			//font-weight: 500;
		}

		&-info {
			display: flex;
			gap: vc(40);
		}
	}

	&__main {
		position: relative;
		z-index: 2;
		padding: vc(25) 0;

		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: vc(60);
		}
	}

	&__footer {
		background: #242528;

		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__notification {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		gap: vc(5);

		@include devices {
			margin-left: auto;
		}
	}

	&__icon {
		position: relative;

		svg {
			width: vc(22);
			height: vc(22);
			fill: $color-black;
		}

		span {
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			width: vc(13);
			height: vc(13);
			font-weight: 600;
			font-size: vc(8);
			text-align: center;
			color: $color-white;
			background: $tree-poppy-400;
		}
	}

	&__basket {
		position: relative;
		display: flex;
		align-items: center;
		gap: vc(8);

		&-dropdown {
			svg {
				width: vc(15);
				height: vc(15);
				fill: $color-black;
			}
		}
	}

	&__logo {
		display: inline-block;
		width: vc(204);
		height: vc(44);

		svg {
			fill: $color-black;
		}

		@include devices {
			width: vc(122);
			height: vc(26);
		}
	}

	&__user {
		display: flex;
		cursor: pointer;
		gap: vc(12);

		&-box {
			display: flex;
			flex-direction: column;
			gap: vc(10);
		}

		&-top {
			display: flex;
			font-size: vc(14);
			gap: vc(10);

			svg {
				width: vc(16);
				height: vc(16);
				fill: $tree-poppy-400;
			}
		}

		&-footer {
			font-size: vc(12);
		}

		&-button {
			svg {
				width: vc(15);
				height: vc(15);
				fill: $color-black;
			}
		}

		&-dropdown {
			position: absolute;
			top: vc(30);
			z-index: 3;
			display: flex;
			flex-direction: column;
			border-radius: vc(5);
			padding: 0 vc(10);
			max-width: vc(200);
			box-shadow: $box-shadow;
			background-color: $color-white;
			opacity: 0;
			visibility: hidden;
			transition: visibility $transition, opacity $transition;
		}

		&-link {
			border-bottom: 1px solid $woodsmoke-100;
			padding: vc(10) 0;
			font-size: vc(13);
			transition: color $transition;

			&:hover {
				color: $tree-poppy-400;
			}

			&:last-child {
				border: none;
			}

			&--logout {
				display: flex;
				align-items: center;
				color: $red-orange-500;
				gap: vc(5);

				svg {
					width: vc(13);
					height: vc(13);
					fill: $red-orange-500;
				}
			}
		}

		&:hover {
			.header__user-dropdown {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__query {
		display: grid;
		grid-template-columns: 1fr 1fr vc(145) vc(164);
		gap: vc(10);

		button {
			flex-shrink: 0;
		}
	}

	&__links {
		display: flex;
	}

	&__link {
		position: relative;
		display: block;
		padding: vc(22) vc(28);
		font-size: vc(19);
		color: $color-white;
		transition: color $transition, background-color $transition;

		&::after {
			content: attr(data-title);
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 700;
			text-align: center;
			color: transparent;
			transform: scale(0.9);
			transform-origin: center center;
			transition: 0.24s;
			inset: 0;
		}

		&:hover {
			//color: $woodsmoke-950;
			color: transparent;
			background-color: $tree-poppy-400;

			&::after {
				color: $woodsmoke-950;
				transform: scale(1);
			}
		}
	}

	&__burger {
		display: flex;
		flex-direction: column;
		gap: vc(3);

		span {
			width: vc(15);
			height: vc(2);
			background: $color-black;
			transition: transform $transition, opacity $transition;
		}

		.header-mobile.is-active & {
			span {
				&:nth-child(1) {
					transform: translate(0, vc(5)) rotate(45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					transform: translate(0, vc(-5)) rotate(-45deg);
				}
			}
		}
	}

	@include devices {
		display: none;
	}
}

.header-mobile {
	position: fixed;
	z-index: 10;
	border-bottom: 1px solid $woodsmoke-200;
	padding: vc(14) 0;
	width: 100%;
	background: $color-white;

	.row {
		display: flex;
		align-items: center;
		gap: vc(15);
	}

	&__wrapper {
		position: fixed;
		right: 0;
		top: vc(50);
		z-index: 1000;
		overflow: auto;
		border-radius: vc(5);
		padding: vc(20) vc(50) vc(20) vc(20);
		width: auto;
		box-shadow: $box-shadow;
		background-color: $color-white;
		opacity: 0;
		visibility: hidden;
		transition: visibility $transition, opacity $transition;

		.is-active & {
			opacity: 1;
			visibility: visible;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: vc(20);
	}

	@include desktop {
		display: none;
	}
}
