.air-datepicker {
	--adp-cell-background-color-selected: #{$tree-poppy-400};
	--adp-cell-background-color-selected-hover: #{$tree-poppy-500};
	--adp-cell-background-color-in-range: #{$tree-poppy-100};
	--adp-cell-background-color-in-range-hover: #{$tree-poppy-200};
	--adp-color-current-date: #{$tree-poppy-400};
	--adp-day-name-color: #{$tree-poppy-400};
}
