.footer {
	padding: vc(30) 0 0;
	color: $color-white;
	background-color: $woodsmoke-950;

	&__row {
		display: grid;
		grid-template-columns: 1fr 1.1fr 1fr 1fr 1fr;
		gap: vc(60);

		@include devices {
			grid-template-columns: 1fr 1fr;
			gap: vc(30);
		}
	}

	&__about {
		display: flex;
		flex-direction: column;
		gap: vc(16);

		@include devices {
			align-items: center;
			order: 5;
			grid-column: span 2 / span 1;
		}
	}

	&__logo {
		width: vc(227);
		height: vc(49);

		svg {
			fill: $color-white;
		}
	}

	&__head {
		font-weight: 600;
		font-size: vc(18);

		@include devices {
			font-size: vc(12);
			letter-spacing: -0.5px;
		}
	}

	&__socials {
		display: flex;
		gap: vc(11);

		svg {
			width: vc(24);
			height: vc(24);
			fill: $color-white;
		}
	}

	&__ya {
		picture {
			width: vc(136);
			height: vc(41);
		}

		@include devices {
			order: 7;
			grid-column: span 2 / span 1;
			margin: auto;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		gap: vc(20);

		@include devices {
			width: 100%;
		}
	}

	&__link {
		@include devices {
			font-size: vc(12);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: vc(10);

		&-row {
			display: flex;
			gap: vc(20);

			picture {
				height: vc(20);
			}
		}

		&-pay {
			display: flex;
			align-items: center;
			gap: vc(6);

			p {
				font-size: vc(10);
			}

			svg {
				width: vc(25);
				height: vc(25);
			}
		}

		&--social {
			@include devices {
				order: 6;
				grid-column: span 2 / span 1;
				margin: vc(-20) auto;
				text-align: center;

				.footer__head {
					display: none;
				}
			}
		}
	}

	&__copyright {
		margin-top: vc(30);
		padding: vc(15) 0;
		text-align: center;
		background-color: $color-black;
	}

	&__title {

	}
}
