mixin merchandise(data)
	form.merchandise(data-add-basket)
		.merchandise__img
			+picture({
				path: `${baseDir}assets/images/image`,
				ext: 'png',
			})
		.merchandise__info
			.merchandise__title
				p Тяга рулевая TOYOTA (058) 213159894
			.merchandise__button
				a.button.button__primary(href="#") Перейти
