.merchandise {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: vc(20);
	height: 100%;
	box-shadow: $box-shadow;

	&__img {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		padding: vc(12) 0;
		width: 100%;
		height: vc(250);

		picture,
		img {
			height: 100%;
			object-fit: contain;
		}
	}

	&__info {
		position: absolute;
		left: 0;
		bottom: vc(-48);
		padding: vc(20);
		width: 100%;
		background: rgba($color-white, 0.6);
		transition: bottom $transition;
		backdrop-filter: blur(4px);

		&:hover {
			bottom: 0;

			.merchandise__button {
				transform: translateY(0);
			}
		}
	}

	&__title {
		margin-bottom: vc(6);
		font-weight: 500;
		font-size: vc(16);
	}

	&__button {
		margin-top: auto;
		transform: translateY(100%);
		transition: transform $transition;

		.button {
			width: 100%;
		}
	}
}
