extends @pug/base

append globals
	- pageName = 'account'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.account
				section.account__breadcrumbs
					.container
						+breadcrumbs()
				section.account__section
					.container
						h1 Мой аккаунт
						.account__row
							nav.account__menu
								.account__menu-wrapper
									each item in data.account.menu
										a.account__menu-item(href!= item.href)
											+svg(item.icon)
											span!= item.name
							.account__info
								h2 Профиль
								.account__info-item
									.account__info-head
										p Контактные данные
									.account__info-row.row-3
										+input({
											type: 'text',
											placeholder: 'Имя',
											name: 'firstname',
											value: 'Иван'
										})
										+input({
											type: 'text',
											placeholder: 'Фамилия',
											name: 'lastname',
											value: 'Иванов'
										})
										+input({
											type: 'text',
											placeholder: 'Должность',
											name: 'position',
											value: 'Механик'
										})
										+input({
											type: 'phone',
											placeholder: 'Телефон',
											name: 'phone',
											value: '+72223334455'
										})
										+input({
											type: 'email',
											placeholder: 'Email',
											name: 'email',
											value: 'ivanov@company.ru'
										})
										+input({
											type: 'text',
											placeholder: 'Whats App',
											name: 'whatsapp',
											value: '+79993334455'
										})
								//.account__info-item
								//	.account__info-head
								//		p Сделайте Ваш выбор
								//	.account__info-row.row-3
								//		+input({
								//			type: 'text',
								//			placeholder: 'Имя',
								//			name: 'firstname'
								//		})
								//		+input({
								//			type: 'text',
								//			placeholder: 'Фамилия',
								//			name: 'lastname'
								//		})
								//		.account__info-buttons
								//			button.button.button__primary Поиск
								//			button.button.button__outline Добавить контакт
								//.account__info-item
								//	.account__info-head
								//		p Результат от 1 до 2
								//	.account__info-table
								//		table.table
								//			tr
								//				th
								//				th Фамилия
								//				th Имя
								//				th Телефон
								//				th Моб. телефон
								//				th E-mail
								//				th Должность
								//			tr
								//				td 4345435
								//				td 4345435
								//				td 4345435
								//				td 4345435
								//				td 4345435
								//				td 4345435
								//				td 4345435
			+footer()
