extends @pug/base

append globals
	- pageName = 'account'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.account
				+breadcrumbs()
				section.account__section
					.container
						h1 Мой аккаунт
						.account__row
							nav.account__menu
								.account__menu-wrapper
									each item in data.account.menu
										a.account__menu-item(href!= item.href)
											+svg(item.icon)
											span!= item.name
							.account__info
								h2 Профиль
								.account__info-item
									.account__info-head
										p Контактные данные
									.account__info-row.row-3
										+input({
											type: 'text',
											placeholder: 'Имя',
											name: 'firstname',
											value: 'Иван'
										})
										+input({
											type: 'text',
											placeholder: 'Фамилия',
											name: 'lastname',
											value: 'Иванов'
										})
										+input({
											type: 'text',
											placeholder: 'Должность',
											name: 'position',
											value: 'Механик'
										})
										+input({
											type: 'phone',
											placeholder: 'Телефон',
											name: 'phone',
											value: '+72223334455'
										})
										+input({
											type: 'email',
											placeholder: 'Email',
											name: 'email',
											value: 'ivanov@company.ru'
										})
										+input({
											type: 'text',
											placeholder: 'Whats App',
											name: 'whatsapp',
											value: '+79993334455'
										})
										+input({
											type: 'text',
											placeholder: 'ИНН',
											name: 'inn',
											value: '1213432234'
										})
										+input({
											type: 'text',
											placeholder: 'Наименование компании',
											name: 'company',
											value: 'Рога и Копыта'
										})
										+input({
											type: 'text',
											placeholder: 'Город',
											name: 'city',
											value: 'Константинополь'
										})
										+input({
											type: 'text',
											placeholder: 'Юр. Адрес',
											name: 'legaladdress',
											value: '19293, Константинополь, Византийская 7б,'
										})(style="grid-column: span 3 / span 1;")
								.account__info-item
									.account__info-head
										p Настройки профиля
									.account__info-row.row-2
										+input({
											type: 'password',
											placeholder: 'Новый пароль',
											name: 'password-new',
										})
										+input({
											type: 'password',
											placeholder: 'Повторно введите новый пароль',
											name: 'password-new-repeat',
										})
										+select({
											placeholder: 'Язык',
											name: 'language',
											items: [
												{value: 'Русский', selected: true},
												{value: 'English'},
												{value: '日本'},
											],
										})
										+select({
											placeholder: 'Уведомление по электронной почте',
											name: 'notification',
											items: [
												{value: 'Почта 1', selected: true},
												{value: 'Почта 2'},
												{value: 'Почта 3'},
											],
										})
								.account__info-item
									.account__info-head
										p Мои настройки для заказов
									.account__info-row.row-2
										+select({
											placeholder: 'Адрес доставки по умолчанию',
											name: 'deliveryaddress',
											items: [
												{value: 'Адрес 1'},
												{value: 'Адрес 2'},
												{value: 'Адрес 3'},
											],
										})
										+select({
											placeholder: 'Перевозчик по умолчанию',
											name: 'carrier',
											items: [
												{value: 'Перевозчик 1'},
												{value: 'Перевозчик 2'},
												{value: 'Перевозчик 3'},
											],
										})
										+select({
											placeholder: 'Приоритет отгрузки по умолчанию',
											name: 'priorityshipment',
											items: [
												{value: 'отгрузки 1'},
												{value: 'отгрузки 2'},
												{value: 'отгрузки 3'},
											],
										})
										+select({
											placeholder: 'Метод доставки по умолчанию',
											name: 'deliverymethod',
											items: [
												{value: 'доставки 1'},
												{value: 'доставки 2'},
												{value: 'доставки 3'},
											],
										})

								.account__info-buttons
									button.button.button__primary Сохранить
									button.button.button__outline По умолчанию
								//.account__info-item
								//	.account__info-head
								//		p Сделайте Ваш выбор
								//	.account__info-row.row-3
								//		+input({
								//			type: 'text',
								//			placeholder: 'Имя',
								//			name: 'firstname'
								//		})
								//		+input({
								//			type: 'text',
								//			placeholder: 'Фамилия',
								//			name: 'lastname'
								//		})
								//		.account__info-buttons
								//			button.button.button__primary Поиск
								//			button.button.button__outline Добавить контакт
								//.account__info-item
								//	.account__info-head
								//		p Результат от 1 до 2
								//	.account__info-table
								//		table.table
								//			tr
								//				th
								//				th Фамилия
								//				th Имя
								//				th Телефон
								//				th Моб. телефон
								//				th E-mail
								//				th Должность
								//			tr
								//				td 4345435
								//				td 4345435
								//				td 4345435
								//				td 4345435
								//				td 4345435
								//				td 4345435
								//				td 4345435
			+footer()
