extends @pug/base

append globals
	- pageName = 'account'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.account
				+breadcrumbs()
				section.account__section
					.container
						h1.account__title Мой аккаунт
						.account__row
							nav.account__menu
								.account__menu-wrapper
									each item in data.account.menu
										a.account__menu-item(href!= item.href)
											+svg(item.icon)
											span!= item.name
							form.page__info(data-account-form)
								h2 Профиль
								.page__info-item
									.page__info-head
										p Контактные данные
									.page__info-row.row-3
										+input({
											type: 'text',
											placeholder: 'Имя',
											name: 'firstname',
											value: 'Иван'
										})
										+input({
											type: 'text',
											placeholder: 'Фамилия',
											name: 'lastname',
											value: 'Иванов'
										})
										+input({
											type: 'text',
											placeholder: 'Должность',
											name: 'position',
											value: 'Механик'
										})
										+input({
											type: 'phone',
											placeholder: 'Телефон',
											name: 'phone',
											value: '+72223334455'
										}).js-phone-mask
										+input({
											type: 'email',
											placeholder: 'Email',
											name: 'email',
											value: 'ivanov@company.ru'
										})
										+input({
											type: 'text',
											placeholder: 'Whats App',
											name: 'whatsapp',
											value: '+79993334455'
										})
										+input({
											type: 'text',
											placeholder: 'Telegram',
											name: 'telegram',
											value: '@dkfmdf'
										})
										+input({
											type: 'text',
											placeholder: 'ИНН',
											name: 'inn',
											value: '1213432234'
										})
										+input({
											type: 'text',
											placeholder: 'Наименование компании',
											name: 'company',
											value: 'Рога и Копыта'
										})
										+input({
											type: 'text',
											placeholder: 'Фактический Адрес',
											name: 'factaddress',
											value: '19293, Константинополь, Византийская 7б,'
										}).one-column
										+input({
											type: 'text',
											placeholder: 'Юридический Адрес',
											name: 'legaladdress',
											value: '19293, Константинополь, Византийская 7б,'
										}).one-column
										+input({
											type: 'text',
											placeholder: 'Почтовый Адрес',
											name: 'postaddress',
											value: '19293, Константинополь, Византийская 7б,'
										}).one-column
								.page__info-item
									.page__info-head
										p Настройки профиля
									.page__info-row.row-2
										+input({
											type: 'password',
											placeholder: 'Новый пароль',
											name: 'password',
											autocomplete: "off",
										}).password
										+input({
											type: 'password',
											placeholder: 'Повторно введите новый пароль',
										}).password-repeat
										+select({
											placeholder: 'Язык',
											name: 'language',
											items: [
												{value: 'ru', label: 'Русский', selected: true},
												{value: 'en', label: 'English'},
												{value: 'jp', label: '日本'},
											],
										})
										+select({
											placeholder: 'Уведомление по электронной почте',
											name: 'notification',
											items: [
												{value: 'mail-1', label: 'Почта 1', selected: true},
												{value: 'mail-2', label: 'Почта 2'},
												{value: 'mail-3', label:'Почта 3'},
											],
										})
								.page__info-item
									.page__info-head
										p Мои настройки для заказов
									.page__info-row.row-2
										+input({
											type: 'text',
											placeholder: 'Адрес доставки по умолчанию',
											name: 'deliveryaddress',
											value: 'Константинополь'
										})
										+select({
											placeholder: 'Перевозчик по умолчанию',
											name: 'carrier',
											items: [
												{value: 'carrier-1', label: 'Перевозчик 1'},
												{value: 'carrier-2', label: 'Перевозчик 2'},
												{value: 'carrier-3', label: 'Перевозчик 3'},
											],
										})
										+select({
											placeholder: 'Приоритет отгрузки по умолчанию',
											name: 'priorityshipment',
											items: [
												{value: 'priorityshipment-1', label: 'отгрузки 1'},
												{value: 'priorityshipment-2', label: 'отгрузки 2'},
												{value: 'priorityshipment-2', label: 'отгрузки 3'},
											],
										})
										+select({
											placeholder: 'Метод доставки по умолчанию',
											name: 'deliverymethod',
											items: [
												{value: 'deliverymethod-1', label: 'доставки 1'},
												{value: 'deliverymethod-2', label: 'доставки 2'},
												{value: 'deliverymethod-3', label: 'доставки 3'},
											],
										})
								.page__info-buttons
									button.button.button__outline По умолчанию
									button.button.button__primary(type="submit") Сохранить
			+footer()
