.table {
	display: block;
	overflow-x: auto;
	max-width: 100%;

	table {
		border-collapse: collapse;
		width: 100%;
		min-width: vc(800);
		white-space: nowrap;
	}

	tbody {
		display: table;
		width: 100%;
	}

	tr {
		border-bottom: 1px solid $woodsmoke-100;
	}

	th,
	td {
		padding: vc(10) 0;
		text-align: center;
	}
}
