extends @pug/base

append globals
	- pageName = 'request-card'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.request-card
				+breadcrumbs()
				form(data-request-card)
					.container
						.row
							.request-card__status
								.request-card__title
									h1.h3 Запрос 9389923
								.request-card__labels
									+select({
										placeholder: 'Статус запроса',
										name: 'language',
										items: [
											{value: 'status-0', label: 'Котел'},
											{value: 'status-1', label: 'Подбор'},
											{value: 'status-2', selected: true, label: 'В запросе'},
											{value: 'status-3', label: 'Обработан'},
											{value: 'status-4', label: 'Счет отправлен'},
										],
									}).request-card__select(data-color)
									+input({
										type: 'text',
										placeholder: 'Ответственный',
										name: 'responsible',
										value: 'Вася Неудержимый Романович'
									})
									+input({
										type: 'text',
										placeholder: 'Бюджет',
										name: 'budget',
										value: '24000'
									})
									+input({
										type: 'number',
										placeholder: 'Закупка',
										name: 'purchase',
										value: '18000'
									})
									+input({
										type: 'number',
										placeholder: 'Доп.завтраты',
										name: 'additionalaccounts',
										value: '300'
									})
									+input({
										type: 'number',
										placeholder: 'Доставка',
										name: 'delivery',
										value: '300'
									})
									+input({
										type: 'number',
										placeholder: 'Маржа',
										name: 'margin'
									})
									+input({
										type: 'number',
										placeholder: 'Маржа в %',
										name: 'marginpercent'
									})
									+input({
										type: 'number',
										placeholder: '№ счета',
										name: 'accountno',
										value: '2390842'
									})
									+input({
										type: 'text',
										placeholder: '№ УПД',
										name: 'updno',
										value: 'Зашквар 13'
									})
									+input({
										type: 'text',
										placeholder: 'Оплачен полностью',
										name: 'paidinfull',
										value: '08.12.2023'
									}).datepicker-single
								.request-card__contact
									p.h4 Информация о контакте
									.request-card__contact-item
										p Компания
										p #[b ООО "Добрый зайка"]
									.request-card__contact-item
										p Раб. телефон
										p #[b +7-977-777-66-66]
									.request-card__contact-item
										p E-mail раб
										p #[b морковка@зайкидобра.рф]
									.request-card__contact-item
										p Должность
										p #[b Старший Заяц]
								.request-card__button
									button.button.button__primary Сохранить
							.request-card__products
								.request-card__head
									.request-card__head-item
										p Дата создания:
										p #[b 12.12.2023]
									.request-card__head-item
										p Номер запроса:
										p #[b 2353674392]
									.request-card__head-item
										p Действует до:
										p #[b 09.05.2023]
								.request-card__product
									+picture({
										path: `${baseDir}assets/images/image`,
										ext: 'png',
									})
									.request-card__product-info
										.request-card__product-change(data-open-modal="modal-1")
											+svg('pencil')
										.request-card__product-title
											p.h4 Название товара
										.request-card__product-specifications
											.request-card__product-specification
												p Бренд: #[span Название]
											.request-card__product-specification
												p Артикул: #[span 1343245]
											.request-card__product-specification
												p Количество: #[span 12]
											.request-card__product-specification
												p Цена: #[span 1000 ₽]
											.request-card__product-specification
												p Ед. изм: #[span Шт]
											.request-card__product-specification
												p Вес (кг): #[span 13]
											.request-card__product-specification
												p Наличие: #[span Есть]
											.request-card__product-specification
												p Сумма: #[span 12000 ₽]
								.request-card__product
									+picture({
										path: `${baseDir}assets/images/image`,
										ext: 'png',
									})
									.request-card__product-info
										.request-card__product-change(data-open-modal="modal-1")
											+svg('pencil')
										.request-card__product-title
											p.h4 Название товара
										.request-card__product-specifications
											.request-card__product-specification
												p Бренд: #[span Название]
											.request-card__product-specification
												p Артикул: #[span 1343245]
											.request-card__product-specification
												p Количество: #[span 12]
											.request-card__product-specification
												p Цена: #[span 1000 ₽]
											.request-card__product-specification
												p Ед. изм: #[span Шт]
											.request-card__product-specification
												p Вес (кг): #[span 13]
											.request-card__product-specification
												p Наличие: #[span Есть]
											.request-card__product-specification
												p Сумма: #[span 12000 ₽]
								.request-card__buttons
									button.button.button__primary Добавить товар
			section.modal.modal--preload(data-modal="modal-1")
				.modal__wrapper
					.modal__overlay
					.modal__content
						button.modal__close-btn(type="button" aria-label="Закрыть попап" data-close-modal data-focus)
							+svg("xmark")
						section.productEditing
							.productEditing__title
								p.h3 Редактирование товара
							form.form.productEditing__form
								.form__main
									.form__row
										+input({
											type: 'text',
											placeholder: 'Название товара',
											name: 'productname',
											value: 'Lorem ipsum dolor sit amet'
										})(style="grid-column: span 2 / span 1;")
										+input({
											type: 'text',
											placeholder: 'Бренд',
											name: 'brand',
											list: 'brands',
										})
										+input({
											type: 'text',
											placeholder: 'Артикул',
											name: 'article',
											value: '128731-332MT'
										})
										+input({
											type: 'num',
											placeholder: 'Цена',
											name: 'price',
											value: '12345'
										})
										+input({
											type: 'num',
											placeholder: 'Количество',
											name: 'count',
											value: '2'
										})
										+select({
											placeholder: 'Качество',
											name: 'quality',
											items: [
												{value: 'quality-0', selected: true, label: 'Оригинал'},
												{value: 'quality-1', label: 'OEM'},
												{value: 'quality-2', label: 'Аналог'},
											],
										})
										+select({
											placeholder: 'Срок поставки',
											name: 'deliverytime',
											items: [
												{value: 'deliverytime-0', selected: true, label: 'В наличии'},
												{value: 'deliverytime-1', label: '1-2 дня'},
												{value: 'deliverytime-2', label: '2 - 3 дня'},
												{value: 'deliverytime-3', label: '3 - 5 дней'},
												{value: 'deliverytime-4', label: '5 - 7 дней'},
												{value: 'deliverytime-5', label: '7 - 10 дней'},
												{value: 'deliverytime-6', label: '1 - 2 недели'},
												{value: 'deliverytime-7', label: '2 - 3 недели'},
												{value: 'deliverytime-8', label: '3 - 4 недели'},
												{value: 'deliverytime-9', label: '4 - 5 недель'},
												{value: 'deliverytime-10', label: '6 - 8 недель'},
												{value: 'deliverytime-11', label: '8 - 10 недель'},
												{value: 'deliverytime-12', label: '10 - 12 недель'},
												{value: 'deliverytime-13', label: '3 - 4 месяца'},
												{value: 'deliverytime-14', label: '4 - 5 месяцев'},
												{value: 'deliverytime-15', label: '5 - 6 месяцев'},
												{value: 'deliverytime-16', label: 'Срок уточняется'},
												{value: 'deliverytime-17', label: 'Нет предложений'},
												{value: 'deliverytime-18', label: 'Некорректный номер'},
											],
										})
										+select({
											placeholder: 'Категория',
											name: 'category',
											items: [
												{value: 'category-0', label: 'Запчасти ДВС'},
												{value: 'category-1', label: 'Запчасти системы охлаждения'},
												{value: 'category-2', label: 'Фильтры'},
												{value: 'category-3', label: 'Запчасти ведущего моста'},
												{value: 'category-4', label: 'Запчасти управляемого моста'},
												{value: 'category-5', label: 'Запчасти корпуса'},
												{value: 'category-6', label: 'Запчасти мачт'},
												{value: 'category-7', label: 'Запчасти трансмиссии'},
												{value: 'category-8', label: 'Запчасти гидравлики'},
												{value: 'category-9', label: 'Запчасти тормозной системы'},
												{value: 'category-10', label: 'Запчасти шасси'},
												{value: 'category-11', label: 'Запчасти электрики'},
												{value: 'category-12', label: 'Колеса, шины, диски и ЦПС'},
												{value: 'category-13', label: 'Вилы и навесное оборудование'},
												{value: 'category-14', label: 'Комплекты для ТО'},
												{ value: 'category-15', label: 'Освещение и дополнительное оборудование'},
											]
										})
										+select({
											placeholder: 'Тип',
											name: 'type',
											items: [
												{value: 'type-0', label: 'Двигатели в сборе и части двигателя'},
												{value: 'type-1', label: 'Система охлаждения двигателя'},
												{value: 'type-2', label: 'Кривошипно-шатунный механизм'},
												{value: 'type-3', label: 'Газораспределительный механизм'},
												{value: 'type-4', label: 'Запчасти привода гидронасоса'},
												{value: 'type-5', label: 'Топливная система двигателя'},
												{value: 'type-6', label: 'Система впуска/выпуска'},
												{value: 'type-7', label: 'Электрооборудование двигателя'},
												{value: 'type-8', label: 'Прокладки и уплотнения двигателя'},
												{value: 'type-9', label: 'Детали корпуса двигателя'},
												{value: 'type-10', label: 'Система смазки двигателя'},
												{value: 'type-11', label: 'Выхлопная система двигателя'},
												{value: 'type-12', label: 'Масла и смазки'},
												{value: 'type-13', label: 'Другие детали двигателя'},
											],
										})
										//input#autocomplete
										+select({
											placeholder: 'Единица измерения',
											name: 'measurement',
											items: [
												{value: 'measurement-0', selected: true, label: 'шт.'},
												{value: 'measurement-1', label: 'м.'},
												{value: 'measurement-2', label: 'л.'},
												{value: 'measurement-3', label: 'компл.'},
											],
										})
										+input({
											type: 'text',
											placeholder: 'Вес',
											name: 'weight',
											value: '100'
										})
										+textarea({
											placeholder: 'Комментарий',
											name: 'comment',
											rows: '4',
										})(style="grid-column: span 2 / span 1;")
								.form__img
									.input-upload.input-upload--images-drop(data-upload="img-drop")
										.input-upload__drop-zone(data-drop-zone)
											span.input-upload__drop-zone-text Фото товара
										label(data-drop-zone)
											input(type="file" name="upload-file")
								.form__buttons
									button.button.button__primary(type="submit") Сохранить

			+footer()
