form.form(data-login-form)
	input.form__input(type="email" placeholder="email" name="email")
	input.form__input(type="password" placeholder="Пароль" name="password" autocomplete="on")
	button.button.button__primary(type="submit") Авторизоваться
