.news {
	display: flex;
	flex-direction: column;
	border-radius: vc(5);
	padding: vc(20);
	background: $woodsmoke-50;
	gap: vc(10);

	&__img {
		flex: none;
		overflow: hidden;
		border-radius: vc(5);
		width: vc(234);

		@include devices {
			width: 100%;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: vc(20);
	}

	&__title {
		font-weight: 600;
	}

	&__link {
		text-decoration: underline !important;
		color: $tree-poppy-400;
		transition: opacity $transition;

		&:hover {
			opacity: 0.7;
		}
	}

	&.in-line {
		flex-direction: row-reverse;
		gap: vc(40);

		@include devices {
			flex-direction: column;
		}
	}
}
