.transport {
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	border-radius: vc(5);
	padding: vc(60) vc(30);
	background: $woodsmoke-50;
	gap: vc(20);

	&__img {
		flex: none;
		overflow: hidden;
		border-radius: vc(5);
		width: vc(160);
		height: vc(160);

		@include devices {
			width: 100%;
			height: vc(200);
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: vc(10);

		b {
			font-size: vc(20);
		}

		p {
			font-size: vc(18);
		}
	}

	&__button {
		align-self: center;
		justify-self: flex-end;

		@include devices {
			grid-column: inherit;
			width: 100%;

			button {
				width: 100%;
			}
		}
	}

	&__edit {
		position: absolute;
		right: vc(20);
		top: vc(20);
		z-index: 2;
		width: vc(20);
		height: vc(20);

		svg {
			fill: $tree-poppy-400;
		}

		@include devices {
			right: vc(10);
			top: vc(10);
		}
	}

	@include devices {
		grid-template-columns: 1fr;
		padding: vc(30);
	}
}
