.navtab {
	position: relative;
	display: block;
	border-bottom: 2px solid $tree-poppy-400;
	width: 100%;
	height: vc(54);

	&__wrapper {
		position: absolute;
		display: flex;
		overflow: auto;
		width: 100%;
		height: 100%;
	}

	&__item {
		flex: none;
		border-radius: vc(5) vc(5) 0 0;
		padding: vc(16) vc(24);
		font-weight: 700;
		font-size: vc(16);
		background-color: $color-white;
		transition: color $transition, background-color $transition;

		&.is-active,
		&:hover {
			color: $color-white;
			background-color: $tree-poppy-400;
		}
	}
}
